//
  Created by asbel on 18.04.2020.
   Copyright (C) 2020. Alexandr Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Objects properties: создание и редактирование свойств объектов
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Objects properties
                    h5.light.
                        С помощью Objects properties можно задавать различные свойства объектов.
        main
            div.row
                div.col.s12.m10.offset-m1
                    img(src="./images/help.main.png" width="1024").materialboxed.card-panel.hoverable
                    h5.
                        Возвращаемое значение: разделенными запятыми object ID (идентификаторы объектов
                        у которых редактируются свойства).

                    h3 Предназначение Objects properties
                    p.
                        Свойства объектов могут устанавливаться для использования следующим образом:
                    ol
                        li.
                            В качестве подсказки. Например, "в сервере не работает 1 порт сетевой карты. Используйте
                            3 оставшихся порта"
                        li.
                            В качестве значения переменной. В том числе для того, чтобы переопределить переменную,
                            описанную в счетчике. В случае совпадения названий переменных в счетчике и в свойстве объекта,
                            при вычислении данных счетчика приоритет будет за значением переменной из свойства объекта.
                            Например, минимальный лимит оперативной памяти для сервера, после которого
                            будет сгенерировано событие в счетчике для всех серверов установлен как 4Gb.
                            Для файлового сервера, в котором вся оперативная память чаще всего занята файловым кэшем,
                            минимальный лимит памяти может быть переопределен в свойствах объекта и установлен как 1Gb.
                        li.
                            При необходимости, можно разработать свое действие, которое будет использовать определенные
                            свойства объектов в своих целях и отображать их в удобном для пользователя виде.
                            Например, это может быть инвентаризация
                            оборудования, которая будет использовать такие свойства, как название платформы, количество
                            дисков, объем оперативной памяти, инвентарный и серийный номер и прочее
                    h4 Конверсии
                    p.
                        Для удобства записи числовых значений переменных можно использовать предопределенные конверсии.
                        Например, для указания минимального лимита памяти в 4Gb нет необходимости переводить это число
                        в байты (4294967296) для сравнения с получаемым значением из счетчика. Можно использовать любые
                        конверсии из таблицы ниже. Система автоматически осуществит перевод в случае с данными - в байты,
                        а в случае с временем - в миллисекунды. Будьте внимательны с работой с временем: многие счетчики
                        используют в качестве единицы времени не миллисекунды, а секунды. В этом случае необходимо делать
                        преобразование значения конверсии в счетчике за счет деления значения на 1000.
                    table
                        thead
                            tr
                                th Название
                                th Описание
                                th Множитель
                        tbody
                            tr
                                td Kb
                                td Килобайт
                                td 1 024
                            tr
                                td Mb
                                td Мегабайт
                                td 1 048 576
                            tr
                                td Gb
                                td Гигабайт
                                td 1 073 741 824
                            tr
                                td s
                                td Секунды
                                td 1 000
                            tr
                                td m
                                td Минуты
                                td 60 000
                            tr
                                td h
                                td Часы
                                td 3 600 000
                            tr
                                td d
                                td Дни
                                td 86 400 000
                            tr
                                td w
                                td Недели
                                td 604 800 000

                    h3 Описание полей ввода
                    h4 Objects list
                    p.
                        Для редактирования свойств объектов вам необходимо выбрать один или несколько объектов в
                        системном меню Objects. Выбранные объекты отобразятся в поле Objects list

                    h4 Object property
                    p.
                        Элемент Object property содержит одно из свойств объекта. Для добавления нового свойства
                        необходимо нажать на круглую кнопку со знаком "+" под Objects list. Для удаления свойства
                        объекта необходимо нажать на "x" в правом верхнем углу элемента Object property
                    img(src="./images/help.property.png" width="1024").materialboxed.card-panel.hoverable

                    h5 Name
                    p Наименование свойства. Должно быть уникальным для одного объекта

                    h5 Display mode
                    p.
                        Вариант отображения свойства или тип свойства:
                    img(src="./images/help.displayMode.png").materialboxed.card-panel.hoverable
                    table
                        thead
                            tr
                                th Тип
                                th Описание
                        tbody
                            tr
                                td Not calculated text field
                                td.
                                    Свойство объекта является неизменной константой. Оно отображается в однострочном
                                    поле ввода.
                                    При использовании свойства в качестве переменной, значение свойства
                                    никак не преобразуется.
                            tr
                                td Checkbox
                                td.
                                    Свойство объекта является неизменной константой. Оно отображается в поле ввода
                                    типа checkbox и может принимать значение true или false.
                                    При использовании свойства в качестве переменной, значение свойства
                                    никак не преобразуется.
                            tr
                                td Not calculated text area
                                td.
                                    Свойство объекта является неизменной константой. Оно отображается в многострочном
                                    поле ввода.
                                    При использовании свойства в качестве переменной, значение свойства
                                    никак не преобразуется.
                            tr
                                td Calculated expression
                                td.
                                    Свойство объекта является выражением и вычисляется каждый раз перед получением
                                    данных счетчиками, связанными с объектом.
                                    Оно отображается в многострочном поле ввода.
                                    Для вычисления значения свойств объекта используются алгоритмы
                                    для вычисления значений переменных в счетчиках. Подробнее о вычислениях переменных
                                    можно прочитать на страницах помощи #[a(href="/actions/counter_settings/help/") Counter settings]
                                    и #[a(href="/help/variables.pug") Примеры использования вычислений в ALEPIZ].
                                    В случае совпадения названий переменных в счетчике и в свойстве объекта, при вычислении
                                    данных счетчика приоритет будет за значением переменной из свойства объекта.
                    h5 Value
                    p.
                        Значение свойства объекта или формула для вычисляемого свойства объекта. В зависимости от
                        Display mode поле ввода может быть текстовой строкой, многострочным текстом или checkbox

                    h5 Description
                    p.
                        Текстовое описание свойства объекта. Используется в качестве справочной информации, поясняющей
                        назначение и использование свойства объекта.

