//
  Created by Alexander Belov on 22.04.2020.
   Copyright (C) 2020. Alexander Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Data browser: средство просмотра исторических данных. Построение графиков
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Data browser
                    h5.light.
                        С помощью Data browser вы можете просматривать исторические данные
        main
            div.row
                div.col.s12.m10.offset-m1
                    img(src="./images/help.main.png" width="1024").materialboxed.card-panel.hoverable
                    h5.
                        Возвращаемое значение: нет

                    h3 Предназначение Data browser
                    p.
                        Data browser служит для просмотра исторических данных. Действие не может быть выполнено и служит только
                        для анализа собранной информации. Просмотр исторических данных возможен по одному или
                        нескольким объектам и счетчикам за выбранный промежуток времени.
                        Объекты необходимо выбрать в системном меню Objects. Если собранные
                        данные представляют собой числовые значение, то будет построен график изменения данных от времени.
                        В любом случае будут так же представлены значения собранных данных в виде таблицы.

                    h3 Адресная строка браузера
                    p.
                        В адресная строка браузера содержит данные для отображения графика в том виде, в котором
                        он в данный момент представлен. Можно переслать данные из адресной строки и если у получателя ссылки
                        есть доступ до системы ALEPIZ и соответствующие права на объекты и действие Data browser,
                        он сможет увидеть график в том виде, в котором он представлен в момент отправки ссылки.
                    h3 Просмотр информации о нескольких однотипных объектах
                    p.
                        Для того, чтобы сравнить однотипные данные, полученные за фиксированный промежуток времени у
                        нескольких объектов необходимо:
                    ul.browser-default
                        li в системном меню Objects вывести сравниваемые объекты.
                        li для первого объекта создать график с необходимыми счетчиками за требуемый промежуток времени.
                        li.
                            последовательно переключаться на другие объекты, Data Browser запомнит настройки и будет
                            отображать график для других объектов в соответствии с настройками для первого объекта

                    h3 Описание полей ввода

                    h4 Фильтрация счетчиков
                    p.
                        Фильтрация счетчиков используется если выбрано большое количество объектов и объекты связаны с
                        большим количеством счетчиков. Для сброса установленной фильтрации и выбора всех групп и счетчиков
                        нажмите #[i.material-icons.blue-text playlist_add_check].

                    h5 Counter groups
                    p.
                        Поле служит для фильтрации счетчиков по группам. Можно выбрать интересующие группы
                        счетчиков
                    h5 Counters
                    p.
                        Поле служит для фильтрации счетчиков по именам. Можно выбрать, какие счетчики будут отображаться.
                    div.row
                        div.col.s12.m6
                            img(src="./images/help.counterGroups.png").materialboxed.card-panel.hoverable
                        div.col.s12.m6
                            img(src="./images/help.countersFilter.png").materialboxed.card-panel.hoverable

                    div.row
                        div.col.s12.m6
                            h4 Таблица выбора счетчиков
                            p.
                                Таблица служит для отображения последних полученных данных по счетчикам, и
                                для выбора счетчиков, по которым требуется посмотреть исторические данные. Имя
                                объекта, имя счетчика, последнее значение может быть обрезано из-за нехватки места. Для того,
                                чтобы посмотреть эту информацию, необходимо подвести курсор к соответствующему элементу.
                                Можно развернуть элемент с таблицей и фильтрами на всю доступную для действия
                                область. Для этого необходимо нажать на иконку #[i.material-icons.blue-text fullscreen]
                                в правом верхнем углу элемента c таблицей. Чтобы свернуть элемент нажмите, на
                                #[i.material-icons.blue-text fullscreen_exit] в правом верхнем углу.
                                Для сброса установленной фильтрации и выбора всех групп и счетчиков
                                нажмите #[i.material-icons.blue-text playlist_add_check].
                            p.
                                Можно выбрать все счетчики или снять выбор со счетчиков с помощью иконки
                                #[i.material-icons.blue-text check] в заголовке столбца таблицы. Можно скрыть содержимое элемента с таблицей
                                счетчиков для определенной группы, если нажать на заголовок элемента с названием группы. Повторное
                                нажатие на заголовок вернет отображение таблицы.
                            p Данные по выбранным счетчикам отобразятся на графике и в таблице с историческими данными.
                        div.col.s12.m6
                            img(src="./images/help.countersSelectorTable.png").materialboxed.card-panel.hoverable
                    h3 Графики таблица значений
                    p.
                        Если нажать на кнопку #[i.material-icons.blue-text fullscreen], которая находится в правом верхнем
                        углу, график займет всю доступную для действия область экрана.
                        Чтобы свернуть элемент нажмите на #[i.material-icons.blue-text fullscreen_exit]
                        в правом верхнем углу.

                    h4 Настройка графика
                    p.
                        Кнопка настройки #[i.material-icons.blue-text settings]
                        находится в правом верхнем углу графика и вызывает форму с его настройками. Для того,
                        чтобы применить и закрыть настройки, необходимо нажать на значок #[i.material-icons.blue-text check]
                        в правом верхнем углу формы
                    img(src="./images/help.settings.png").materialboxed.card-panel.hoverable
                    h5 Minimum value for Y axis at left
                    h5 Maximum value for Y axis at left
                    h5 Minimum value for Y axis at right
                    h5 Maximum value for Y axis at right
                    p.
                        Элементы позволяют установить минимальное и максимальное отображаемое значение по оси Y слева и
                        справа. Если минимальные и максимальные значения не установлены,
                        они вычисляются автоматически. В данном примере слева для оси Y установлены
                        пределы по значениям от 0 до 100, справа для оси Y минимальное значение установлено как 0,
                        максимальное значение установлено как 2.8Gb.
                    p.
                        Для удобства указания максимальных и минимальных значений в качестве префикса
                        можно использовать различные единицы измерения, установленные в действии
                        #[a(href="/actions/counter_settings/help/") Counter Settings].
                        Префиксы чувствительны к регистру,
                        позволяют использовать пробелы, знак "-" для отрицательных значений и "." или "," для
                        разделения целой и дробной части числа. Например, 1 024Mb, 10KB, 2h, 3m, 70%, 2.3 Gb, 10,5GB.

                    h5 Y axis align
                    p.
                        Элементы позволяют привязать отображение данных по счетчикам к оси Y слева или справа на графике.
                        В данном примере значения по оси Y для счетчиков I: % Idle Disk Time и % CPU Time avg 5 min будут
                        отображаться слева, а значения по оси Y для счетчика I: Free memory in B будут отображаться справа.
                        Таким образом на одном графике можно совместить небольшие значения в процентах по
                        счетчикам свободного времени дисковой подсистемы и загрузки процессора и большое значение в байтах
                        по счетчику свободной памяти.
                    h5 min\avg\max
                    p.
                        Поле отображает минимальное, среднее и максимальное значение соответствующего элемента графика
                        за интервал времени, настроенный в графике.
                        Если график находится в режиме автоматического обновления, значения этого поля будут
                        так же обновляться автоматически.

                    h4 График
                    h6 Заголовок
                    p.
                        Над графиком отображаются названия счетчиков и названия объектов, для которых получены данные.
                    h6 Легенда
                    p.
                        Под графиком отображаются пары объект-счетчик и цвет линии графика для каждой пары.
                        Если ось Y для данных находится справа, то в скобках отображается слово (right).
                    h5 Выбор интервала времени
                    p.
                        Если мышкой выделить на графике интервал времени, будет показан график за выделенный интервал.
                        Интервал времени можно установить вручную, нажав на элемент
                        #[i.material-icons.teal-text schedule] Time interval
                    img(src="./images/help.graph.png").materialboxed.card-panel.hoverable
                    p.
                        Если кликнуть мышкой на графике, интервал отображения данных примерно станет равным суткам и вычисляется
                        по следующему алгоритму:
                    ul.browser-default
                        li.
                            Если на графике установлен интервал отображения меньше суток, то при нажатии на график новый
                            интервал времени
                            будет начинаться с 00:00 и заканчиваться серединой текущего интервала времени плюс 12 часов.
                            Например, если интервал был установлен с 14:00 до 16:00, то при нажатии на график, интервал
                            времени изменится и станет начинаться в 00:00 текущих и продлится до 03:00 следующих
                            суток: (16:00 - 14:00) / 2 + 12:00 = 03:00
                        li.
                            Если нажать на график и на графике установлен интервал больше суток, то новый интервал времени
                            закончится так же как и установленный, а начнется ровно через сутки до окончания установленного интервала.
                            Например, если отображается интервал с 8:00 одних суток до 16:00 следующих суток, то при нажатии
                            на график, новый интервал времени будет с 16:00 одних суток до 16:00 других суток.

                    h5 Start date и End date
                    p.
                        С помощью этих элементов можно выбрать начальную и конечную дату для графика
                        и таблицы с данными.
                    h5 Передвижение по датам с сохранением выбранного интервала времени
                    p.
                        Если требуется посмотреть данные за выбранный интервал времени, но за предыдущую дату,
                        необходимо поменять дату "End date".
                        Если требуется посмотреть данные за выбранный интервал времени, но за следующую дату,
                        необходимо поменять дату "Start date".
                    h6 Подробнее о передвижении
                    p.
                        Если на графике выбран интервал времени и требуется посмотреть данные за этот же
                        интервал, но за предыдущие сутки, необходимо сменить значение End date на предыдущие сутки. То
                        есть, если выбран интервал времени с 11:00 до 14:30 за 22 апреля. Нам требуется посмотреть данные
                        за этот же интервал времени, но за 20 апреля, для этого в поле End date нужно выбрать 20 апреля,
                        график отобразится за интервал времени с 11:00 до 14:30 за 20 апреля
                    p.
                        Для просмотра выбранного интервала времени за следующие сутки необходимо сменить значение
                        Start date на
                        следующие сутки. То есть, если выбран интервал времени с 11:00 до 14:30 за 10 апреля. Нам требуется
                        посмотреть данные за этот же интервал времени, но за 20 апреля, для этого в поле Start date
                        нужно выбрать 20 апреля, график отобразится за интервал времени с 11:00 до 14:30 за 20 апреля

                    h5 Auto update
                    p.
                        Если элемент активен, то на графике будут отображаться новые данные по мере их поступления.
                        Если конечное значение интервала времени на графике не равно текущему времени, интервал времени
                        сдвинется так,
                        что его продолжительность останется неизменной, а конечное значение интервала будет равно
                        текущему времени. Если элемент не активен, новые данные отображаться не будут.

                    h5 Displaying ALL values from... to...
                    p.
                        Элемент служит для информирования о том, за какой интервал времени отображаются данные. Если в
                        элементе присутствует слово TRENDS, значит данных было слишком много и они
                        прошли обработку. В результате на графике и в таблице показываются усредненные значения из
                        таблицы трендов, либо данных было слишком много и часть значений не отображается.
                        Если в элементе присутствует слово ALL (Displaying ALL values from... to...), значит
                        на графике и в таблице отображаются именно те данные, которые находятся в базе данных.
                        При нажатии на элемент появится окно с отладочной информацией и том, как были получены
                        исторические данные.
                    p.
                        Все данные отображаются в том случае, если данных не слишком много. В каждом случае способ
                        отображения данных вычисляется на основе размера графика и количества данных в базе за
                        указанный промежуток времени.

                    h4 Таблица значений
                    img(src="./images/help.data.png").materialboxed.card-panel.hoverable

                    p.
                        В таблице отображаются данные по выбранным элементам объект-счетчик.
                        В случае, если выбрано несколько счетчиков, система пытается объединить данные, собранные в
                        ближайший друг к другу интервал времени и отобразить эти данные в таблице в одну строку. В этом
                        случае в колонке Time показан интервал времени, за который отображаются данные.
                    p.
                        Если для счетчика настроена конверсия, данные будут приведены к удобному для восприятия виду.
                        Например, объем свободной памяти хранится в базе данных в байтах, но в зависимости от значения,
                        байты будут приведены к Гигабайтам или Мегабайтам. Кроме того, около элемента с данными будет
                        присутствовать его единица измерения.
                    p.
                        Для удобства восприятия информации, в таблице данных отображаются только 2 значения после запятой.
                    p.
                        Если требуется узнать точное время получения данных или точное значение, без приведения к удобному
                        для восприятия виду, необходимо подвести курсор к элементу данных. Над ним появится подсказка с
                        временем, когда значение было собрано и со значением в исходном формате.
                    p.
                        Если нажать на заголовок столбца с данными, его режим отображения будет переключаться между
                        отображением "сырых данных" и отображением данных способом, удобным для восприятия человеком.
                        В примере
                        данные для столбца "% CPU Time avg 5 min" отображаются так, как они записаны в базе данных.
                        Данные из остальных столбцов предварительно форматируются для более удобного восприятия.
                    p.
                        #[span.blue-text.text-darken-4 Темно-синим цветом] отображаются данные, полученные из кэша приложения.
                        Черным цветом отображаются данные, полученные из базы данных.
                    p.
                        Если при сборе данных используется алгоритмы пропуска данных (Throttling), в таблице
                        отфильтрованные данные отображаться не будут.
