//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-9-18 16:13:42
doctype
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        title MSSQL: making queries to MSSQL database engine
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov <asbel@alepiz.com>")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 MSSQL
                    h5.light.
                        MSSQL used for making queries to MSSQL database engine
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 MSSQL description
                    p.
                        You can use the collector to retrieve data or to make
                        changes to the MSSQL database. Various authorization methods are 
                        supported, including standard username and password, NTLM, and Azure.
                    h3 Array of values
                    p.
                        The MSSQL collector returns an array of rows from the SQL query. Each element in the array is
                        an object that describes a row from the table. For example, for a table
                    table
                        thead
                            tr
                                th Num
                                th Name
                                th Age
                            tr
                                td 1
                                td Alexander
                                td 44
                            tr
                                td 2
                                td Marina
                                td 33
                            tr
                                td 3
                                td Bullfinch
                                td 1
                    p.
                        The following array will be created:
                    div.card-panel
                        span
                            pre.
                                [{
                                    Num: 1
                                    Name: "Alexander"
                                    Age: 44
                                }, {
                                    Num: 2
                                    Name: Marina
                                    Age: 33
                                }, {
                                    Num: 3
                                    Name: Bullfinch
                                    Age: 1
                                }]
                    p.
                        When receiving an array of values, ALEPIZ does the following:
                    ul.browser-default
                        li The array of values is converted to JSON text and saved to the history database
                        li.
                            If the counter has dependent counters, then ALEPIZ will call them as many times as there
                            were values in the array and each time pass them as a variable %:PARENT_VALUE:% a new JSON
                            row. You can work with the resulting value using the getValueFromJSONStr() function
                            For example, the first time, for our example, the
                            getValueFromJSONStr(%: PARENT_VALUE:%, "Name") function will return "Alexander",
                            the second time - "Marina", the third time - "Bullfinch"
                    h3 Parameters
                    ul.browser-default
                        li.
                            MSSQL driver (run ODBC Data Source (64-bit), tab "Drivers") - driver for access to MSSQL.
                            To see the list of installed drivers, you need to launch the "ODBC Data Source (64-bit)"
                            application (for example, via Ctrl+Q and type "ODBC"), go to the Drivers tab and select
                            one of the MSSQL drivers that are presented there.
                        li.
                            MSSQL server - Host name, IP address, instance name (myServerName\theInstanceName) or
                            network path (.\ SQLExpress) to the MSSQL server. More details can be found in the
                            documentation for the used MSSQL driver
                        li Port to connect - TCP port of MSSQL server
                        li.
                            Use Windows integrated (trusted) authentication - Enable this option to connect using
                            Integrated Windows Authentication, or provide a user and password to connect using
                            SQL Server Authentication.
                        li.
                            User name (for SQL Server authentication) - username for authorization if using
                            SQL Server Authentication
                        li.
                            Password (SQL Server authentication) - password for authorization if using
                            SQL Server Authentication
                            To ensure security, it is better to use authorization methods that do not require a password.
                        li Database to connect - The name of the database to which the query will be made
                        li.
                            MSSQL Query - SQL query. If there is no query, a connection to the MSSQL server is checked.
                            In case of successful connection, 1 is returned, in case of unsuccessful returned 0.
                            If a SQL query is specified, but the connection to the server failed, JSON is returned
                            {"unableToConnect": "&lt;error message&gt;"}
                        li Connection timeout (sec) - connection timeout to MSSQL, default 2 seconds
                        li Query timeout (sec) - SQL query execution timeout, default 2 sec
