//
    Copyright © 2021. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2021-1-24 0:54:27
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Objects Information: средство для просмотра свойств и исторических данных объекта
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov <asbel@alepiz.com>")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Objects Information
                    h5.light.
                        Просмотр выбранной информации об объектах
        main
            div.row
                div.col.s12.m10.offset-m1
                    img(src="./images/help.main.png" width="1024").materialboxed.card-panel.hoverable

                    h2 Предназначение Objects Information
                    p.
                        Действие является средством построения и просмотра отчетов на основе свойств и исторических данных
                        объектов. Перед отображением данные предварительно могут быть обработаны.
                        Выбор свойств и исторических данных, а так же настройка для их обработки,
                        производится через файл настройки для действия.
                        Полученную информацию можно экспортировать в CSV файл.
                    h5.
                        Возвращаемое значение: Нет

                    h2 Описание интерфейса
                    p.
                        Интерфейс представляет собой таблицу в которой отображаются предварительно
                        обработанные исторические данные и данные из свойств объектов. В зависимости от настроек, название
                        объекта может отображаться как ссылка, открывающая действие Data Browser. С его помощью можно
                        посмотреть исторические данные объекта.
                        Внизу таблицы расположены кнопки DOWNLOAD DATA и
                        DOWNLOAD DATA RAW. Они позволяют экспортировать информацию из таблицы в формате CSV.
                        DOWNLOAD DATA используется для получения предварительно обработанной информации.
                        DOWNLOAD DATA RAW позволяет получить необработанные данные.

                    h2 Описание файла настроек
                    p.
                        В каталоге с действием находится файл настроек config.json, содержащий следующие настройки:
                    ul.browser-default
                        li.
                            CSVDiv - разделитель в файле экспорта данных CSV. В зависимости от региональных настроек в
                            Microsoft Excel используются разные разделители. Например, для США в качестве разделителя
                            используется запятая (","), а для России - точка с запятой (";"). Связано это с тем, что
                            в России запятая используется в качестве разделителя целой и дробной части в числах. Если
                            в русифицированный Excel загрузить файл с разделителем ",", таблицы сформировано не будет.
                        li.
                            properties - Блок настроек свойств и исторических данных объектов. В нем перечисляются
                            заголовки столбцов таблицы действия и настройки для отображения данных. В примере ниже
                            "Service name", "Executable", "Service state" - являются заголовками столбцов таблицы и
                            содержат описание свойств объектов или счетчиков, для получения исторических данных.
                    h3 Пример настроек
                    div.card-panel
                        pre.
                            "CSVDiv": ";",
                            "properties": {
                                "Service name": {
                                    "property": "SERVICE_NAME"
                                },
                                "Executable": {
                                    "property": "SERVICE_PATH",
                                    "replaceRE": {
                                       "regExp": "^.+?\\\\([^\\\\]+?\\.exe).*?$",
                                       "replaceTo": "$1",
                                       "flags": "i"
                                    }
                                },
                                "Service state": {
                                    "counter": "I: Service state",
                                    "axisY": "left",
                                    "history_function": "last()",
                                    "valueMap": {
                                        "0": "Running",
                                        "1": "Paused",
                                        "2": "Start pending",
                                        "3": "Pause pending",
                                        "4": "Continue pending",
                                        "5": "Stop pending",
                                        "6": "Stopped",
                                        "7": "Unknown",
                                        "255": "No such service"
                                    }
                                },
                                "Uptime": {
                                    "counter": "I: Host uptime",
                                    "multiplier": 1000,
                                    "toHuman": "Time"
                                },
                                "Free memory (min in 10m)": {
                                    "counter": "I: Free memory",
                                    "axisY": "right",
                                    "history_function": "min(10m)",
                                    "toHuman": "Bytes"
                                }
                    h3 Параметры для получения данных
                    ul.browser-default
                        li.
                            property - Название свойства объекта, значение которого будет отображаться в таблице. Если
                            свойство объекта отсутствует у всех выбранных объектов, этот столбец отображаться не будет.
                            Не может быть одновременно для одного столбца указано property и counter.
                        li.
                            counter - Название счетчика для отображения исторических данных для объекта. Если
                            счетчик отсутствует у всех выбранных объектов, этот столбец отображаться не будет.
                            Не может быть одновременно для одного столбца указано property и counter.
                        ul.browser-default
                            li.
                                history_function - функция для получения и преобразования исторических значений. Имеет
                                смысл только если для столбца таблицы есть настройка counter. По умолчанию используется
                                функция last(). В качестве параметров функций можно указывать предопределенные конверсии,
                                описанные ниже. Например, min(15m) преобразуется в min(900000), avg(2h) = avg(7200000) и т.д.
                                Подробнее о функциях преобразования исторических данных можно прочитать в описании
                                действия Counter settings.
                            li.
                                axisY - настройка может быть использована для указания, с какой стороны (слева или справа)
                                будет отображаться
                                шкала значений по оси Y в действии Data Browser для исторических значений при нажатии
                                на название объекта. Может быть "left" или "right". Если не указано, данный счетчик
                                не будет отображаться в действии Data Browser при нажатии на название объекта. Имеет
                                смысл только если для столбца таблицы есть настройка counter.

                    h3 Параметры для преобразования данных
                    p.
                        Ниже перечислены параметры, с помощью которых может быть выполнено преобразование полученных
                        данных, как для свойств объекта, так и для исторических данных.
                        Если указано несколько параметров для преобразования данных, они будут выполняться в
                        последовательности, в которой они перечислены ниже.
                    ul.browser-default
                        li.
                            replaceRE - замена с помощью регулярного выражения. Используется функция JavaScript
                            String.prototype.replace(). При использовании в регулярном выражении символов "\", необходимо
                            помнить, что в формате JSON эти символы являются символами экранирования. Поэтому если необходимо
                            в регулярное выражение добавить символ "\", его следует повторить дважды: "\\".
                            Для выполнения замены необходимо указать параметры:
                        ul.browser-default
                            li regExp - регулярное выражение, применяемое к полученному значению.
                            li flags - флаги регулярного выражения
                            li replaceTo - строка для замены.
                        li.
                            multiplier - если указан этот параметр как число и возвращаемое значение так же является
                            числом, производится умножение возвращаемого параметра на значение параметра multiplier
                        li.
                            valueMap - позволяет заменить возвращаемое значение на одно из значений этого параметра.
                            В качестве ключа указывается возможное возвращаемое значение, в качестве значения указывается
                            его замена. Например, если указано "0": "Running", то значение 0 будет заменено
                            на "Running". Если возвращаемое значение не соответствует ни одному из значений, перечисленных
                            в параметре valueMap, замена не производится.
                            В примере выше параметр используется для замены числовых значений состояния Windows сервиса на его
                            тестовые статусы для более удобного восприятия информации.
                        li.
                            toHuman - единицы преобразования данных.
                            Позволяет преобразовать полученное значение в читаемый вид. Например, если вы
                            получаете значение - количество свободной памяти в байтах, с помощью этого параметра,
                            значение будет преобразовано в более удобную для восприятия форму MB, GB и т.д. Значения
                            единиц преобразования настраиваются в действии Counter settings. Настройка называется Units.
                            В качестве единиц могут использоваться например, Time, TimeInterval, Percents, Bytes, Bits,
                            Bytes\sec

                    h5 Конверсии
                    p.
                        Для удобства записи числовых параметров функций можно использовать предопределенные конверсии.
                        Например, для указания минимального лимита памяти в 4Gb нет необходимости переводить это число
                        в байты (4294967296) для сравнения с получаемым значением из счетчика. Можно использовать любые
                        конверсии из таблицы ниже. Система автоматически осуществит перевод в случае с данными - в байты,
                        а в случае с временем - в миллисекунды. Будьте внимательны с работой с временем: некоторые сборщики
                        используют в качестве единицы времени не миллисекунды, а секунды. В этом случае необходимо делать
                        преобразование значения конверсии в счетчике за счет деления значения на 1000.
                    table
                        thead
                            tr
                                th Название
                                th Описание
                                th Множитель
                        tbody
                            tr
                                td Kb
                                td Килобайт
                                td 1 024
                            tr
                                td Mb
                                td Мегабайт
                                td 1 048 576
                            tr
                                td Gb
                                td Гигабайт
                                td 1 073 741 824
                            tr
                                td s
                                td Секунды
                                td 1 000
                            tr
                                td m
                                td Минуты
                                td 60 000
                            tr
                                td h
                                td Часы
                                td 3 600 000
                            tr
                                td d
                                td Дни
                                td 86 400 000
                            tr
                                td w
                                td Недели
                                td 604 800 000