{
    "description": "Sending message to Qlasha",
    "address": "QLASHA",
    "re": "^$",
    "default": {
        "transport": {
            "host": "localhost",
            "localAddress": "127.0.0.1",
            "proxyHost": "proxy.mydomain.com",
            "proxyPort": 3128,
            "proxyUser": "proxyUserName",
            "proxyPass": "proxyUserPassword"
        },
        "message": {
            "rate": 1,
            "volume": 100,
            "severity": 1
        }
    }
}