//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Connect by TCP\IP: проверки доступности сервисов по TCP\IP
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/stylesheets/material-design-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov <asbel@alepiz.com>")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Connect by TCP\IP
                    h5.light.
                        Сборщик используется для проверки доступности сервисов по протоколу TCP\IP
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 Описание Connect by TCP\IP
                    p.
                        С помощью Connect by TCP\IP можно проверять доступность сервисов по протоколу TCP\IP, подключаясь
                        к ним на указанные в параметрах сборщика IP адреса (или имена хостов) и определенный порт.
                    h3 Параметры
                    ul.browser-default
                        li.
                            Comma separated IPv4 or IPv6 addresses or host names -
                            перечисленные через запятую адреса IPv4 или IPv6 или имена хостов, на которых
                            требуется проверять работу сервиса
                        li.
                            TCP port - TCP порт, который использует проверяемый сервис
                        li.
                            Source  IPv4 or IPv6 address or host name -
                            IPv4 или IPv6 адрес локального интерфейса, с которого необходимо устанавливать
                            соединение. Параметр не является обязательным.
                    h3 Возвращаемое значение
                    p.
                        Перечисленные через запятую хосты из параметра hosts, к которым удалось подключиться на порт port.
                        Если подключиться никуда не удалось, вернется пустая строка "". Если хост был указан один, и
                        подключиться к нему удалось, вернется адрес или название хоста в том виде, как н был указан в
                        параметре hosts


