//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-4-29 23:19:02
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title exec: запуск внешних программ без использования оболочки
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/stylesheets/material-design-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 exec
                    h5.light.
                        Запускает программы без использования оболочки

        main
            div.row
                div.col.s12.m10.offset-m1

                    h2 Описание exec
                    p.
                        exec запускает программы без использования оболочки. Вывод запущенной программы будет перенаправлен в лог.
                        Для запуска скриптов используйте в качестве исполняемого файла соответствующий интерпретатор.
                        Например для запуска
                        скрипта D:\temp\script.cmd параметр executable должен быть "C:\\Windows\\System32\\cmd.exe", а
                        args должен быть ["/c", "D:\\temp\\script.cmd"].
                    h3 Параметры
                    ol
                        li executable - Значением этого параметра должен быть путь до файла, который требуется запустить
                        li args - Массив с параметрами, которые будут переданы исполняемому файлу executable.
                        li timeout - Максимальное время выполнения executable. Если не указан, то бесконечно.
