//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-4-29 23:19:02
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title exec: запуск внешних программ без использования оболочки
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 exec
                    h5.light.
                        Запускает программы без использования оболочки

        main
            div.row
                div.col.s12.m10.offset-m1

                    h2 Описание exec
                    p.
                        exec запускает программы без использования оболочки. Вывод запущенной программы может быть
                        перенаправлен в лог.
                        Для запуска скриптов используйте в качестве исполняемого файла соответствующий интерпретатор.
                        Например для запуска
                        скрипта D:\temp\script.cmd параметр executable должен быть "C:\\Windows\\System32\\cmd.exe", а
                        programArgs должен быть ["/c", "D:\\temp\\script.cmd"].
                    h3 Параметры файла конфигурации для действия
                    p.
                        Параметры должны быть указаны в файле конфигурации для действия, в ключе launcherPrms, например:
                    pre.
                        "launcherPrms": {
                            "executable": ".\\procdump.exe",
                            "timeout": 60000
                        },
                    h3 Описание параметров
                    ul.browser-default
                        li.
                            executable - полный или абсолютный путь до файла или файл, который требуется запустить.
                            Если полный путь не указан, то выполняемый файл ищется в каталоге с действием Alepiz, в котором
                            используется launcher.
                        li.
                            cwd - рабочий каталог, в который будет осуществлен переход перед запуском программы.
                            Может быть указан абсолютный путь относительно корневого каталога Alepiz.
                            Если не указан, то это корневой каталог Alepiz.
                        li.
                            programArgs - параметры командной строки (строка с массивом в JSON или массив)
                        li.
                            timeout - максимальное время выполнения executable в миллисекундах.
                            Если не указан, то бесконечно.
                        li.
                            stdinData - если указано, то значение этого параметра будет передано на stdin запускаемой
                            программы
                        li.
                            env - переменные среди и их значения в виде объекта, {&lt;ENV_NAME1&gt;: &lt;VALUE1&gt;, ....}.
                            Если не указано, то используется переменные среды с которыми запущен Alepiz
                        li.
                            dontLogStdout - (true|false) не выводить в лог данные из потока stdout
                        li.
                            dontLogStderr - (true|false) не выводить в лог данные из потока stderr
                        li.
                            returnStdout - (true|false) вернуть данные из потока stdout
                        li.
                            returnStderr - (true|false) вернуть данные из потока stderr
                        li.
                            returnCode - (true|false) вернуть exit code
                    h3 Возвращаемые параметры
                    p.
                        Лаунчер возвращает объект.
                        В зависимости от установки параметров returnStdout, returnStderr, returnCode объект может
                        содержать stdout, stderr, exit code процесса
                    pre.
                        {
                            "stdout": <multiline string>,
                            "stderr": <multiline string>,
                            "exitCode": <Number>
                        }

                    h3 Параметры, передаваемые из пользовательского интерфейса
                    p.
                        Если указаны соответствующие параметры в конфигурационном файле действия, параметры, переданные
                        из пользовательского интерфейса будут проигнорированы. Можно использовать параметры cwd,
                        stdinData, programArgs. Параметры полностью аналогичны параметрам из файла конфигурации для
                        действия. Для передачи параметров из пользовательского интерфейса необходимо создать
                        элементы HTML типа input с аттрибутом name или id соответствующем названию параметра.
                        Например,
                        &lt;input type=&quot;hidden&quot; id=&quot;programArgs&quot; value=&quot;[\&quot;-a 1\&quot;, \&quot;-b 2\&quot;, \&quot;-c\&quot;]&quot;&gt;
                        или
                        &lt;input type=&quot;text&quot; name=cwd value=&quot;C:\\windows&quot;&gt;

