/*
 * Copyright © 2018. Alexander Belov. Contacts: <asbel@alepiz.com>
 */

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
/*
fix error, when overlay closing sideNav menu
 */
#sidenav-overlay {
    left: 300px !important;
}

.tab-padding {
    padding: 0 12px 0 12px !important;
}

.side-nav-control-lock {
    position:absolute !important;
    top:-24px !important;
    right:0 !important;
    cursor:pointer !important;
    text-align:center;
    color: grey !important;
}

.side-nav-control-max {
    position:absolute !important;
    top:-24px !important;
    right:28px !important;
    cursor:pointer !important;
    text-align:center  !important;
    color: grey !important;
}

.btn-list-control {
    color: #ee6e73 !important;;
}

.run-action.btn {
    background-color: red;
}

.make-task.btn {
    background-color: #ffd600;
}

.objectsNum {
    position:absolute;
    top:72px;
    right:20px;
    border-radius:50%;
    height:28px;
    min-width:28px;
    line-height:28px;
    text-align:center;
    box-shadow: 2px 2px lightgrey;
    font-size: 14px;
    cursor: pointer;
}

.objectGroupIcon {
    position:absolute;
    top:30px;
    right:18px;
    font-size: 36px;
    text-align:center;
    text-shadow: 2px 2px lightgrey;
    cursor: pointer;
}

.objectGroupIconCrossOut {
    position:absolute;
    top:52px;
    right:24px;
    border-top: 1px solid white;
    cursor: pointer;
    width: 28px;
    height: 4px;
    transform: rotate(45deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.walletIcon {
    position:absolute;
    top:110px;
    right:16px;
    font-size: 36px;
    text-align:center;
    text-shadow: 2px 2px lightgrey;
    cursor: pointer;
}

.walletNum {
    position:absolute;
    top:116px;
    right:18px;
    height:24px;
    min-width:32px;
    line-height:24px;
    font-size: 14px;
    text-align:center;
    cursor: pointer;
    z-index: 100;
}

.filtersNum {
    position:absolute;
    top:28px;
    right:20px;
    border-radius:50%;
    height:28px;
    min-width:28px;
    line-height:28px;
    text-align:center;
    box-shadow: 2px 2px lightgrey;
    font-size: 14px;
    cursor: pointer;
}

.filterEditIcon {
    position: absolute;
    top: 40px;
    right: 8px;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px lightgrey;
    cursor: pointer;
}

a.object {
    margin: 0 0 2px 0 !important;
    padding: 0 0 0 0 !important;
    height: 36px !important;
    cursor: pointer !important;
    font-weight: 480 !important;
    font-size: 14px !important;
}

a.group {
    margin: 0 0 2px 0 !important;
    padding: 0 0 0 0 !important;
    height: 36px !important;
    cursor: pointer !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

div.object-checkbox {
    height: 32px !important;
    padding: 0 0 0 16px !important;
    width: 48px !important;
}

.border-right {
    height:100%;
    border-width: 0 2px 0 0;
    border-color: #e0e0e0; /*#ffeeee;*/
    border-style: solid;
}

div.object-label {
    height: 32px !important;
    line-height: 32px !important;
    padding: 0 0 0 0 !important;
}

li.action-group {
    line-height: 32px !important;
    padding: 0 0 0 0 !important;
}

i.action-group-icon {
    padding: 0 0 0 14px !important;
}

div.action-group {
    font-weight: 480 !important;
    padding: 0 0 0 16px !important;
}

li.action {
    cursor: pointer !important;
    line-height: 32px !important;
}

a.action {
    font-weight: 480 !important;
    line-height: 32px !important;
    height: 36px !important;
    padding-left: 54px !important;
}

.list {
    overflow-y:auto !important;
    height:100% !important;
}

.italic {
    font-style: italic !important;
    font-weight: lighter !important;
}

.no-margin {
    margin: 0 !important;
}

.search-textarea {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    min-height: 2em !important;
}
.logWindowController-btn {
    position:fixed;
    bottom:0;
    width:100%;
    background: white;
    opacity: 0.7;
    border-top:1px solid grey;
    text-align: center
}

ul#collapsible-log-body {
    border: 0 !important;
}

div.logRecord {
    padding: 1em 0 !important;
    border-bottom: 1px solid #ddd;
}
div.logIcon {
    display: inline-block;
    position: relative;
    top: 5px;
}
div.logDateStr {
    display: inline-block;
    margin: 0 0.5em;
}
.logColorDefault {
    color: grey !important;
}

.logColor01m {
    color: grey !important;
}

.logColor30m {
    color: black !important;
}

.logColor31m {
    color: red !important;
}

.logColor32m {
    color: green !important;
}

.logColor33m {
    color: brown !important;
}

.logColor34m {
    color: blue !important;
}

.logColor35m {
    color: magenta !important;
}

.logColor36m {
    color: cyan !important;
}

.logColor37m {
    color: white !important;
}

.logColor38m {
    color: grey !important;
}