//
    Copyright (C) 2018. Alexander Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        title= action.name
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        link(rel='stylesheet', href='/stylesheets/actions.css')
        style.
            div.collapsible-body {
                padding: 0 1em 0 1em !important;
            }
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        script(src='/jquery/jquery.min.js')
        script(src='/jquery-ui/jquery-ui.min.js')
        script(src='/materialize-css/dist/js/materialize.js')
        script.
            var parameters = {
                action: !{JSON.stringify(action)},
                objects: !{JSON.stringify(objects)}
            };

            var entityMap = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#39;',
                '/': '&#x2F;',
                '`': '&#x60;',
                '=': '&#x3D;'
            };

            function escapeHtml(string) {
                return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                    return entityMap[s];
                });
            }
    body
    main
        div.row
            div.col.s12
                //h2= action.name
                //p.right-align= action.description
        div.row
            div.col.s12
                script(src='/javascripts/Flotr2-master/flotr2.js')

                script(src= action.link + '/' + action.staticDir + '/' + 'client.js')
                div.row
                    div.col.s12.m12.l4#leftDiv
                        a(href='#!')#fullScreenCountersBtn: i.material-icons.right fullscreen
                        a(href='#!')#checkAllGroupsAndCountersBtn: i.material-icons.right playlist_add_check
                        div.col.s12.input-field
                            select#select-groups(multiple)
                            label Counter groups
                        div.col.s12.input-field
                            select#select-counters(multiple)
                            label Counters
                        div.col.s12
                            ul.collapsible.expandable#latest-data
                    div.col.s12.m12.l8#rightDiv
                        div.card.big#graphCard
                            div.card-content
                                div.row
                                    a(href='#!')#fullScreenGraphBtn: i.material-icons.right fullscreen
                                    a(href="#").activator: i.material-icons.right settings
                                    div(style='height:300px;width:100%').col.s12.center#graphArea
                                    div(style="font-size:0.9rem").col.s12.right-align
                                        a(href="#!" data-target="debugDataParametersDialog").modal-trigger#message-area
                                    div.col.s12#legendArea
                                div(style="margin:0").row
                                    div.input-field.col.s3
                                        // value set to raise label
                                        input(type='text' value="7 November, 1975" style="cursor:pointer").datepicker#startDate
                                        label(for='startDate').active Start date
                                    div.input-field.col.s3
                                        input(type='text' value="7 November, 1975" style="cursor:pointer").datepicker.active#endDate
                                        label(for='endDate').active End date
                                    div.input-field.col.s3
                                        label(style="cursor:pointer")#setTime
                                            i.material-icons.teal-text schedule
                                            span(style="position:relative;top:-0.4rem;left:1rem;font-size:1rem") Time interval
                                        input(type='hidden').timepicker#setStartTime
                                        input(type='hidden').timepicker#setEndTime
                                    div.input-field.col.s3
                                        label
                                            input(type='checkbox' checked)#auto-update
                                            span Auto update

                            div.card-reveal
                                div.card-title Settings
                                    i.material-icons.right.blue-text#closeGraphSettings check
                                div.row
                                    div.input-field.col.s3
                                        input(type="text" placeholder="auto when empty" id="yMinLeft")
                                        label(for="yMinLeft") Minimum value for Y axis at left
                                    div.input-field.col.s3
                                        input(type="text" placeholder="auto when empty" id="yMaxLeft")
                                        label(for="yMaxLeft") Maximum value for Y axis at left
                                    div.input-field.col.s3
                                        input(type="text" placeholder="auto when empty" id="yMinRight")
                                        label(for="yMinRight") Minimum value for Y axis at right
                                    div.input-field.col.s3
                                        input(type="text" placeholder="auto when empty" id="yMaxRight")
                                        label(for="yMaxRight") Maximum value for Y axis at right
                                h5 Y axis align
                                b
                                    div.col.s1 left\right
                                    div.col.s7 object:counter
                                    div.col.s4 min\avg\max
                                div.row#alignSettings

                        // .disable-scrollbars set at actions.css
                        div.card#historyWrapper
                            div.card-content
                                table#history-data.highlight.bordered
                            //div(style="overflow: scroll;").disable-scrollbars#historyWrapper

        div#debugDataParametersDialog.modal.modal-fixed-footer
            div(style="padding-right:5px").modal-content
                h5 Returned data parameters
                div(style="overflow:auto;height:90%")#debugDataParameters
            div.modal-footer
                a(href="#!").modal-close.waves-effect.waves-green.btn-flat Close

    footer
        input(type="hidden" name="actionName" value= action.name)
