//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-6-23 0:39:38
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Send message: отправка сообщений с помощью communication media
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov <asbel@alepiz.com>")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Send message
                    h5.light.
                        Отправка сообщений с помощью системы Communication media.

        main
            div.row
                div.col.s12.m10.offset-m1
                    img(src="./images/help.main.png" width="1024").materialboxed.card-panel.hoverable

                    h2 Описание Send message
                    p.
                        С помощью Send message можно сформировать и отправить сообщение пользователям. Действие служит для
                        проверки работы модулей Communication media и автоматизации отправки сообщений.

                    h5.
                        Возвращаемое значение: массив из media ID, которые использовались при отправке сообщения

                    h2 Описание интерфейса
                    p.
                        Поля ввода имеют следующее предназначение:
                    ul.browser-default
                        li.
                            ConfigID - идентификатор конфигурации средств связи. В зависимости от него будет производится выбор
                            настроек для средств связи. Если конфигурации с таким идентификатором не окажется, будет использована
                            конфигурация с идентификатором "default". Название идентификаторов можно посмотреть в
                            конфигурационных файлах средств связи.
                        li.
                            Priorities or media - Установка приоритета сообщения (Priorities) для автоматического выбора
                            средства связи в зависимости от настроек пользователя, либо выбор определенного средства связи,
                            (Medias) необходимого для отправки сообщения. Ели выбрано определенное средство связи,
                            автоматический выбор средства через приоритеты использоваться не будет. Можно выбрать
                            несколько приоритетов. Средство связи может быть выбрано выбрать только одно,
                            если будет выбрано несколько средств связи будет использоваться первое.
                        li.
                            Sender - выбор отправителя сообщения
                        li.
                            Recipients - выбор получателей сообщения.
                        li.
                            Message - текст сообщения. Поле ввода является многострочным.
                        li.
                            New field name - Поле служит для ввода дополнительных параметров сообщения. Если параметры поддерживаются
                            выбранным средством связи, они будут использованы при отправки сообщения. Посмотреть
                            поддерживаемые параметры можно в описании средства связи, настройка message. Для ввода
                            дополнительного параметра
                            необходимо ввести его название и нажать на "+". Новое многострочное поле ввода
                            появится ниже. В него необходимо ввести требуемое значение. На примере выше создано
                            дополнительное поле subject в которое введено значение "Test in a subject". Такой параметр имеет
                            смысл для email сообщений. Если сообщение будет отправлено например, через СМС сервис
                            провайдера, этот параметр будет проигнорирован.
