//
    Copyright © 2021. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2021-4-30 13:59:36
doctype
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Collector name
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov <asbel@alepiz.com>")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Collector name
                    h5.light.
                        Collector name usually used for collect something
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 Collector name description
                    p.
                        Collector name used for collect something and show something for you
                        You can use this collector for get some data from something

