//
    Copyright (C) 2018. Alexandr Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        title= action.name
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/stylesheets/material-design-icons.css')
        link(rel='stylesheet', href='/codemirror/lib/codemirror.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        style.
            p {
                margin-bottom: 0 !important;
            }

        script(src='/jquery/jquery.min.js')
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/codemirror/lib/codemirror.js')
        script(src='/codemirror/addon/mode/loadmode.js')
        script(src='/codemirror/addon/search/searchcursor.js')
        script(src='/codemirror/addon/search/match-highlighter.js')
        script.
            var parameters = {
                action: !{JSON.stringify(action)},
                objects: !{JSON.stringify(objects)}
            };

            var entityMap = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#39;',
                '/': '&#x2F;',
                '`': '&#x60;',
                '=': '&#x3D;'
            };

            function escapeHtml(string) {
                return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                    return entityMap[s];
                });
            }
    body
    main
        input(type="hidden")#editorResult
        input(type="hidden")#editorChanges
        input(type="hidden")#editorFileID
        div(style="height: 98vh; overflow: hidden; margin: 10px 0px 0px 10px")#tmodule
            div.row#EditorForm
                p.input-field.col.s2
                    select#selectService
                    label Select service
                p.input-field.col.s2
                    select#selectFile
                    label Select file
                p.input-field.col
                    input(type="text")#searchInput
                    label(for="searchInput") Search
                p(style="width:60px").input-field.col
                    label
                        input(type="checkbox")#doReplaceCheckBox
                        span
                p.input-field.col
                    input(type="text")#replaceInput
                    label(for="replaceInput") Replace
                p.input-field.col
                    a.btn-floating.waves-effect.waves-light#searchBtn
                        i.material-icons search
                p(style="width:60px").input-field.col
                    label
                        input(type="checkbox")#searchDirection
                        span#searchDirectionLabel up
                p(style="width:60px").input-field.col
                    label
                        input(type="checkbox")#searchAsRegExp
                        span#searchAsRegExpLabel re
                p.input-field.col.s2
                    select#codePage
                        option(value="" selected) Default UTF-8
                        option(value="win1251") Windows CP-1251
                        option(value="cp866") MS-DOS CP-866
                    label Code page

        script(src= action.link + "/" + action.staticDir + "/" + "editor.js")
        script(src= action.link + "/../log_viewer_" + action.sessionID + "/" + action.staticDir + "/" + "menu.js")
        script(src= action.link + "/" + action.staticDir + "/" + "client.js")

    footer
        input(type="hidden" name="actionName" value= action.name)
