//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-4-28 11:29:12
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Table of contents
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div(data-toc="false").col.s12.m10.offset-m1
        main
            div.row
                div.col.s12.m10.offset-m1
                    h1 Содержание
                div.col.s12.m10.offset-m1
                    ul
                        each item in common
                            li(style="padding-left: 2em;"): h5: a(href='/' + item.helpDir + '/' + item.file)= item.title
                        li: h3 Обучение
                        each item in lessons
                            li(style="padding-left: 2em;"): h6: a(href='/' + item.helpDir + '/' + item.file)= item.title
                        li: h3 Действия (Actions)
                        each item in actions
                            li(style="padding-left: 2em;"): h6: a(href='/actions/' + item.subDir + '/' + item.helpDir + '/' + item.file)= item.title
                        li: h3 Сборщики (Collectors)
                        each item in collectors
                            li(style="padding-left: 2em;"): h6: a(href='/collectors/' + item.subDir + '/' + item.helpDir + '/' + item.file)= item.title
                        li: h3 Запуск действий (Launchers)
                        each item in launchers
                            li(style="padding-left: 2em;"): h6: a(href='/launchers/' + item.subDir + '/' + item.helpDir + '/' + item.file)= item.title
                        li: h3 Средства связи (Communication medias)
                        each item in medias
                            li(style="padding-left: 2em;"): h6: a(href='/communication/' + item.subDir + '/' + item.helpDir + '/' + item.file)= item.title
                        li: h3 Описание архитектуры и настройки
                        each item in settings
                            li(style="padding-left: 2em;"): h6: a(href='/' + item.helpDir + '/' + item.file)= item.title
