//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-4-28 11:29:12
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Интерфейс ALEPIZ
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Интерфейс ALEPIZ
        main
            div.row
                div.col.s12.m10.offset-m1

                    h2 Описание интерфейса ALEPIZ
                    p.
                        Доступ к системе ALEPIZ осуществляется через Web интерфейс с помощью современного
                        браузера, поддерживающего последние стандарты JavaScript и HTML.
                    p.
                        Интерфейс ALEPIZ создан с учетом использования на устройствах с различным разрешением
                        и ориентацией экрана, различным способом ввода и взаимодействия с устройством.
                        Такими устройствами могут быть смартфоны с установленным браузером, планшеты, ноутбуки и
                        стационарные компьютеры. Адаптация интерфейса к работе на том или ином устройстве
                        происходит автоматически.
                    h4 Интерфейс, адаптированный для смартфона
                    div.row
                        div.col.s6
                            img(src="./images/help.mainPhone1.png").materialboxed.card-panel.hoverable
                        div.col.s6
                            img(src="./images/help.mainPhone2.png").materialboxed.card-panel.hoverable

                    h4 Интерфейс, адаптированный для планшета
                    img(src="./images/help.mainPad1.png" width="1024").materialboxed.card-panel.hoverable

                    h4 Интерфейс, адаптированный для ноутбука или персонального компьютера
                    img(src="./images/help.mainInterface.png" width="1024").materialboxed.card-panel.hoverable

                    h3 Системное меню Actions и Objects
                    p.
                        Системное меню Actions и Objects находится слева, либо, если оно скрыто, то
                        вызывается нажатием на иконку #[i.material-icons menu] в левом верхнем углу экрана.
                        Меню служит для отображения и выбора действия и объектов, а так же
                        для осуществлении поиска действий и объектов.
                    h3 Actions (Действия)
                    p.
                        Действия - это компоненты, которые
                        подключаются к системе, и позволяют выполнять различные функции или предоставлять какую-то
                        информацию. Примером действий могут быть создание объекта в системе, администрирование
                        пользователей, просмотр лог файлов сервиса, просмотр исторической информации, собранной
                        встроенной системой мониторинга (на скриншоте выше), рестарт сервиса на удаленном сервере,
                        редактирование конфигурационного файла сервиса, создание задач, объединяющих другие действия
                        для автоматизации и так далее.
                    p.
                        Можно разрабатывать собственные действия для автоматизации процессов.
                    p.
                        Действия можно выполнять, запуская их вручную или в составе задачи в автоматическом режиме,
                        в зависимости от произошедших событий. Так же действие может быть выполнено в составе
                        задачи по заданному расписанию.
                    p.
                        Вкладка Actions (на скриншоте слева) содержит действия, объединенные в группы.
                        При нажатии на выбранном действии,
                        его пользовательский интерфейс будет показан в основном окне системы.
                        На скриншоте выше показан интерфейс действия Data browser.

                    h4 Поиск действий
                    p.
                        Над системным меню Actions находится форма поиска для действий. Если в форме начать набор
                        какой-то части из названия действия, появятся подсказки из которых можно выбрать требуемое
                        действие.
                    p.
                        Если нажать на иконку #[i.material-icons search] рядом со строкой поиска, появится
                         подсказка по использованию поиска.
                    img(src="./images/help.mainActionSearch.png").materialboxed.card-panel.hoverable

                    h3 Objects (Объекты)
                    p.
                        Вкладка Objects содержит объекты. Объекты - это любые сущности в системе, которые могут иметь
                        название. Каждый объект в системе должен иметь уникальное название.
                        Примером объектов могут быть название хоста в сети, с которого собираются данные для
                        мониторинга, группа, объединяющая другие объекты (например, объект Servers, объединяющий
                        серверы организации), шаблон со счетчиками, которые подключаются к другим объектам для сбора
                        информации, объекты, содержащие счетчики для поиска хостов в сети и автоматического формирования
                        системы мониторинга, сервисы, которыми можно управлять с помощью действий и так далее.
                    p.
                        Можно самостоятельно создавать и удалять объекты, управлять их группировкой и фильтрацией. Часто
                        действия имеют привязку к объекту. Например на скриншоте выше действие Data Browser показывает
                        собранную историческую информацию с объектов SYSTEM [PAD_ASBEL] и CPU [PAD-ASBEL].

                    h4 Навигация по объектам
                    p.
                        При выборе вкладки "Objects", название вкладки "Objects" будет заменено на "To top". При
                        нажатии на "To top" происходит переход к верхнему уровню объектов
                    p.
                        Если нажать на имя объекта, то появится список вложенных объектов. Если вложенных объектов нет,
                        то объект будет выбран для дальнейших действий.
                        Для выбора объекта служит элемент типа CheckBox, который находится слева от каждого объекта.

                    img(src="./images/help.mainObjectsList.png").materialboxed.card-panel.hoverable

                    h4 Взаимодействия между объектами.
                    p.
                        Настроенные взаимодействия между объектами позволяют фильтровать объекты в
                        системном меню Objects. Взаимодействия можно настроить используя действие Objects Interactions.
                        Ниже описаны варианты настроек взаимодействий между объектами. Подробное описания взаимодействий
                        находится на странице помощи для действия
                        #[a(href="/actions/objects_interactions/help/") Objects Interactions].

                    h5 Включение (группировка) объектов
                    p.
                        Включение (inclusion) объектов означает, что объект включает в себя другие объекты и является для них группой.
                        При нажатии на имени такого объекта появится список
                        вложенных объектов. Если выбрать несколько объектов у которых нет настроенного
                        взаимодействия между собой, при этом каждый их них включает в себя другие
                        объекты и нажать на любой из выбранных объектов, появится список всех вложенных объектов во все группы.
                    blockquote.
                        Например, Parent object 1 содержит Object1, Object2, Object3, а Parent object 2 содержит
                        Object2, Object3, Object4. Результатом взаимодействия Parent object 1 и Parent object 2 будет
                        Object1, Object2, Object3, Object4

                    h5 Пересечение объектов
                    p.
                        Если объекты включают в себя вложенные объекты и для них настроено "пересечение" (intersection), то
                        если выбрать пересекающиеся объекты нажать на любой из них, появится список,
                        содержащий только пересекающиеся вложенные объекты.
                    blockquote.
                        Например, Parent object 1 содержит Object1, Object2, Object3, а Parent object 2 содержит
                        Object2, Object3, Object4. Результатом взаимодействия с пересечением для
                        Parent object 1 и Parent object 2 будет Object2, Object3.

                    h5 Исключение объектов
                    p.
                        Если объекты включают в себя вложенные объекты и для них настроено "исключение" (exclude), то
                        если выбрать эти объекты и нажать на любой из выбранных объектов, появится список вложенных объектов
                        за исключением пересекающихся.
                    blockquote.
                        Например, Parent object 1 содержит Object1, Object2, Object3, а Parent object 2 содержит
                        Object2, Object3, Object4. Результатом взаимодействия с исключением для
                        Parent object 1 и Parent object 2 будет Object1, Object4.


                    h4 Поиск объектов
                    p.
                        Над системным меню Objects находится форма поиска объектов. Если в форме начать набор
                        какой-то части из названия объекта, после ввода нескольких символов в системном меню Objects
                        появятся объекты, имена которых содержат набранный текст.
                    p.
                        Можно использовать символы "&" (и) и "|" (или) для объединения различных поисковых запросов в
                        логическое выражение. Вместо символа "|" можно использовать перенос строк.

                    p.
                        Для поиска объектов можно использовать шаблоны: "_" - один любой символ и
                        "*" - последовательность из ноля или нескольких любых символов.
                    p.
                        Если требуется использовать символы "_" или "*" не как шаблоны, а как часть имен объектов,
                        их следует экранировать с помощью символа "\".
                    p.
                        Если нажать на иконку #[i.material-icons search] рядом со строкой поиска, появится
                         подсказка по использованию поиска.

                    img(src="./images/help.mainObjectsSearch.png").materialboxed.card-panel.hoverable

                    h4 Иконки навигационной строки
                    p Иконки находятся в правом верхнем углу экрана
                    div.row
                        div.col.s12.m6.l4
                            img(src="./images/help.mainNavBarIcons.png").materialboxed.card-panel.hoverable
                        div.col.s12.m6.l8
                            p.
                                #[i.material-icons open_in_new] открывает новую вкладку в браузере с ALEPIZ.
                            p.
                                #[i.material-icons file_upload] открывает окно с информацией о процессе выполнения действий.
                            p.
                                #[i.material-icons account_box] открывает диалог с помощью которого можно авторизоваться в системе

                            p.
                                #[i.material-icons help_outline] открывает контекстную страницу помощи в зависимости от
                                выбранного действия

                    h4 Окно с информацией о процессе выполнения действий
                    img(src="./images/help.mainLogWindow.png" width="1024").materialboxed.card-panel.hoverable
                    p.
                        Окно вызывается при запуске действия или при нажатии на иконку
                        #[i.material-icons file_upload], которая находится в правом верхнем углу экрана.
                    p.
                        Информация представлена в виде лог записей и является отладочной информацией по отображению
                        или выполнению действий. С помощью нее можно проанализировать процесс выполнения действия.
                    p.
                        Информация разбита на разделы, каждый из которых отвечает за выполнение определенного действия.
                        В зависимости от настроенного уровня отладки, количество отображаемой информации может меняться.
                        При нажатии на заголовок раздела, содержимое раздела будет показано или скрыто. Информация
                        обновляется автоматически, пока открыто окно с информацией

                    h4 Кнопки управления
                    div.row
                        div.col.l10.m8.s6
                            p.
                                Кнопки управления появляются при наведении курсора на основную
                                круглую кнопку оранжевого цвета
                                #[a.btn-floating.btn-small.waves-effect.waves-circle.waves-light.orange.darken-1: i.material-icons.large more_horiz],
                                которая находится в правой нижней части экрана. В зависимости от наличия прав на выполнение
                                или сохранения действий появятся все или часть дополнительных кнопок.
                            h5 #[a.btn-small.btn-floating.waves-effect.waves-light.blue: i.material-icons card_travel] Буфер обмена объектов
                            p.
                                Буфер обмена позволяет создавать произвольный список
                                объектов в системном меню Objects, даже если такой список невозможно составить с
                                помощью поиска и существующей группировки объектов. Кнопка позволяет
                                запоминать выбранные объекты, а затем отображать их в виде списка. Например, если
                                выделить несколько объектов и нажать на #[a.btn-small.btn-floating.waves-effect.waves-light.blue: i.material-icons card_travel]
                                , выбранные объекты будут помещены в буфер обмена и цвет кнопки
                                изменится с синего на серый. Серый цвет кнопки означает, что в буфере есть какие-то
                                объекты. Далее можно перейти к другим объектам, выбрать еще
                                несколько и так же поместить их в буфер, нажав на
                                #[a.btn-small.btn-floating.waves-effect.waves-light.grey: i.material-icons card_travel].
                                Цвет останется серым. Операцию помещения
                                объектов в буфер можно повторить необходимое количество раз. Для того, чтобы отобразить
                                список объектов из буфера, необходимо снять выделение со всех объектов
                                 в системном меню Objects и нажать на
                                серую кнопку #[a.btn-small.btn-floating.waves-effect.waves-light.grey: i.material-icons card_travel].
                                В системном меню Objects появится
                                список объектов из буфера, а кнопка
                                #[a.btn-small.btn-floating.waves-effect.waves-light.blue: i.material-icons card_travel]
                                станет опять синего цвета.
                                Синий цвет кнопки означает, что буфер пуст и можно заполнять его новыми объектами.

                            h5 #[a.btn-small.btn-floating.waves-effect.waves-light.purple.darken-1: i.material-icons done_all] Групповое выделение объектов
                            p.
                                Групповое выделение используется для выделения или снятия выделения со всех объектов,
                                которые отображены в системном меню Objects. Если нажать на
                                #[a.btn-small.btn-floating.waves-effect.waves-light.purple.darken-1: i.material-icons done_all]
                                первый раз, не зависимо от того, были ли до этого выбраны какие-то объекты, все объекты
                                будут выбраны. Кнопка
                                #[a.btn-small.btn-floating.waves-effect.waves-light.purple.darken-1: i.material-icons done_all]
                                сменит цвет на серый. Если нажать
                                еще раз на серую кнопку
                                #[a.btn-small.btn-floating.waves-effect.waves-light.grey.darken-1: i.material-icons done_all]
                                , выделение со всех объектов будет
                                снято.

                            h5 #[a.btn-small.btn-floating.waves-effect.waves-light.green: i.material-icons cached] Обновить текущее действие
                            p.
                                При нажатии на
                                #[a.btn-small.btn-floating.waves-effect.waves-light.green: i.material-icons cached],
                                интерфейс текущего действие будет обновлен, все значения
                                параметров будут сброшены к значениям по умолчанию. Все серверные исполняемые компоненты
                                действия будут перезагружены и подключены системой заново. Таким образом, если подключаемые серверные
                                JavaScript файлы действия были обновлены, для того, чтобы изменения вступили в силу
                                необходимо нажать на кнопку
                                #[a.btn-small.btn-floating.waves-effect.waves-light.green: i.material-icons cached]

                        div.col.l2.m4.s6
                            img(src="./images/help.mainButtons.png").materialboxed.card-panel.hoverable

                    h5 #[a.btn-small.btn-floating.waves-effect.waves-light.yellow.darken-2: i.material-icons playlist_add] Создать из действия задачу
                    p.
                        Задачи служат для создания автоматизации. Можно заполнить необходимые параметры действия
                        и добавить его в задачу. Далее повторить операцию по добавлению других настроенных действий в
                        задачу. В результате получится задача, состоящая из нескольких действий.
                        Задачу можно отредактировать с помощью действия Task maker и выполнить ее любым из доступных
                        способов, например:
                    ol
                        li Запустить задачу вручную
                        li Установить время выполнения, в которое задача автоматически запустится
                        li Назначить условие, при соблюдении которого задача будет запущена
                        li.
                            С помощью действия Counter settings, используя сборщик Task runner, создать счетчик,
                            запускающий задачу. Счетчик может зависеть от другого счетчика и при выполнении заданных
                            условий, запускать зависимый счетчик с задачей на выполнение.
                            В этом случае в задачу можно передавать динамически сформированные параметры.
                    p.
                        В качестве примера для задачи может быть обновление какого-то прикладного сервиса,
                        состоящее из действий "Обновить файлы сервиса", "Применить скрипт SQL к базе данных сервиса" и
                        "Отредактировать файл конфигурации сервиса". После создания такой задачи, можно назначить
                        условие для ее выполнения: остановка сервиса. Как только сервис будет остановлен,
                        задача по обновлению сервиса будет выполнена автоматически.
                    p.
                        Другим примером может служить создание объектов в системе для мониторинга автоматически
                        найденных хостов в сети. Для этого необходимо с помощью действия Counter
                        settings создать счетчик, который, используя сборщик Objects discovery, будет искать объекты в сети.
                        Далее создать еще один зависимый счетчик, который с помощью сборщика Task runner запустит
                        предварительно созданную задачу по созданию найденных объектов, настройке свойств объектов и
                        подключению к ним необходимых счетчиков для сбора данных.
                    p.
                        Так же можно создать задачу, которая будет осуществлять обслуживание сервисов, например,
                        резервное копирование, упаковку и ротацию логов, обслуживание базы данных и так далее.
                        Для этого можно создать задачу или несколько задач, которые будут автоматически запускать
                        действия по какому-то условию, например "остановка сервиса".

                    h5 #[a.btn-small.btn-floating.waves-effect.waves-light.red: i.material-icons play_arrow] Выполнить текущее действие (Ctrl+Enter)
                    p.
                        После того, как в выбранном действии были введены все параметры, необходимо запустить действие
                        на выполнение. Для этого служит кнопка запуска действия
                        #[a.btn-small.btn-floating.waves-effect.waves-light.red: i.material-icons play_arrow].
                        Изменения произойдут только после нажатия кнопки выполнения действия, до этого момента никакие
                        изменения параметров действия не приведут к реальным изменениям, которые выполняет действие.
                        Во время выполнения действия откроется окно с информацией о деталях выполнения действия. По этой
                         информации можно определить, что действие было выполнено корректно и при выполнении
                        действия не произошло никаких ошибок.
                    img(src="./images/help.mainActionRun.png" width="1024").materialboxed.card-panel.hoverable
                    p.
                        Для удобства можно выполнить действие, нажав комбинацию клавиш &lt;Ctrl&gt; + &lt;Enter&gt;.
                        В этом случае действие
                        будет запущено на выполнение о чем отобразится соответствующее оповещение. Окно с
                        детальной информацией о выполнении действия открыто не будет. Информацию о выполнении действия
                        всегда можно посмотреть, нажав на иконку #[i.material-icons file_upload] в правом верхнем углу
                        экрана.
                    img(src="./images/help.mainActionRunCtrlEnter.png" width="1024").materialboxed.card-panel.hoverable

                    h3 Информация в адресной строке браузера
                    p.
                        Адресная строка браузера содержит информацию о выбранных объектах в системном меню Objects,
                        выбранном действии в системном меню Actions и параметрах выбранного действия.
                        Для информации о состоянии объектов и действий используются
                        параметры u,c,s (для информации об объектах) и a (для информации о действии)
                    p u - список выбранных объектов
                    p c - список невыбранных объектов
                    p s - строка поиска объектов, в результате которой отображены объекты
                    p a - действие
                    p.
                        В примере ниже отображается действие objects_creator (a=%2Factions%2Fobjects_creator).
                        Не выбраны объекты Object17, Object18 и Object19 (u=Object17%2CObject18%2CObject19).
                        Выбраны объекты Object15 и Object16 (c=Object15%2CObject16)
                    pre.
                        http://alepiz.com/?a=%2Factions%2Fobjects_creator&u=Object17%2CObject18%2CObject19&c=Object15%2CObject16
                    img(src="./images/help.mainURL1.png" width="1024").materialboxed.card-panel.hoverable

                    p.
                        Кроме информации о состоянии системного меню в строке браузера может быть информация о параметрах
                        текущего действия. В примере ниже отображается информация о параметрах, заданных администратором
                        для построения графика действия Data browser.
                        Если отправить содержимое командной строки и у получателя есть
                        соответствующие права на работу с системой, при открытии полученной ссылки в своем браузере он
                        увидит точно такой же график.

                    img(src="./images/help.mainURL.png" width="1024").materialboxed.card-panel.hoverable
                    p






