//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-4-28 11:29:12
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Интерфейс ALEPIZ
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Интерфейс ALEPIZ
        main
            div.row
                div.col.s12.m10.offset-m1

                    h2 Описание интерфейса ALEPIZ
                    p.
                        Доступ к ALEPIZ осуществляется через Web интерфейс.
                        Интерфейс ALEPIZ создан для использования на устройствах с различным разрешением
                        и ориентацией экрана.
                        Это могут быть смартфоны, планшеты, ноутбуки и
                        стационарные компьютеры. Адаптация интерфейса происходит автоматически.
                    h5 Интерфейс, для экрана смартфона
                    div.row
                        div.col.s6
                            img(src="./images/help.mainPhone1.png").materialboxed.card-panel.hoverable
                        div.col.s6
                            img(src="./images/help.mainPhone2.png").materialboxed.card-panel.hoverable

                    h5 Интерфейс, для экрана планшета
                    img(src="./images/help.mainPad1.png" width="1024").materialboxed.card-panel.hoverable

                    h5 Интерфейс, для экрана ноутбука или персонального компьютера
                    img(src="./images/help.mainInterface.png" width="1024").materialboxed.card-panel.hoverable

                    h3 Списки OBJECTS, ACTIONS и FILTERS
                    p.
                        Шторка со списками OBJECTS, ACTIONS и FILTERS находятся слева. Если она скрыто, то
                        вызывается нажатием на иконку #[i.material-icons.red.white-text menu] в левом верхнем углу экрана.
                        Шторка служит для выбора объектов, фильтрации объектов, выбора действия, а так же
                        для поиска объектов, действий и фильтров.
                    p.
                        Для удобства можно переключаться между режимами отображения шторки со списками.
                        Для этого служат элементы управления, которые находятся в правом
                        верхнем углу шторки.
                    p.
                        Элементы #[i.material-icons code_off] и
                        #[i.material-icons code]
                        служат для переключения между режимом фиксации шторки в открытом положении и
                        режимом, когда шторка автоматически скрывается а действие занимает всю область экрана.
                    p.
                        Элементы #[i.material-icons keyboard_arrow_right] и
                        #[i.material-icons keyboard_arrow_left]
                        служат для изменения размера шторки. В максимальном режиме на шторке одновременно
                        отображается список объектов и список действий или фильтров, в зависимости от выбора.
                        В уменьшенном режиме на шторке отображается только один из списков OBJECTS, ACTIONS или
                        FILTERS. Между списками необходимо
                        переключаться, нажимая на соответствующую вкладку.

                    h3 OBJECTS (Объекты)
                    p.
                        Вкладка OBJECTS содержит объекты. Объекты - это сущности с
                        уникальными названиями, которые служат для обозначения элементов, предназначенных для
                        мониторинга, управления, группировки других объектов и так далее.
                        Примером объектов могут быть название хоста, группа, объединяющая другие объекты (например,
                        объект Servers, объединяющий серверы), программа, сервис, шаблон со счетчиками и так далее.
                        Можно самостоятельно создавать и удалять объекты, управлять их группировкой и фильтрацией.

                    h4 Навигация по объектам
                    p.
                        При выборе вкладки OBJECTS, название вкладки OBJECTS будет заменено на "TO TOP". При
                        нажатии на нее происходит переход к верхнему уровню объектов.
                    p.
                        Если нажать на имя объекта, то появится список вложенных объектов. Если вложенных объектов нет,
                        то объект будет выбран.
                        Для выбора объекта так же служит элемент типа Checkbox, который находится слева от каждого
                        объекта.
                    p.
                        Слева от вкладки OBJECTS находится элемент Checkbox, который позволяет выделить все объекты,
                        либо снять выделение.
                    p.
                        При выделении объектов в поле со списком объектов появляется счетчик,
                        #[span(style="border-radius:50%;height:28px;min-width:28px;line-height:28px;text-align:center;box-shadow: 2px 2px lightgrey;font-size: 14px;").waves-effect.blue.white-text 7]
                        который показывает,
                        сколько объектов выделено. Если нажать на счетчик объектов, ALEPIZ запомнит выделенные объекты
                        в буфер обмена и нарисует иконку с количеством запомненных объектов
                        #[i.waves-effect.red-text.material-icons folder].
                        Можно перейти к другим объектам
                        и добавить их в буфер обмена аналогичным образом.
                        После того, как будут добавлены все необходимые для работы объекты
                        необходимо нажать на иконку с объектами и они отобразятся в виде списка объектов.
                    img(src="./images/help.mainObjectsList.png").materialboxed.card-panel.hoverable

                    p.
                        При выборе объектов и переключении на другую вкладку, рядом с надписью OBJECTS отображается
                        количество выбранных объектов.


                    h4 Взаимодействия между объектами.
                    p.
                        Настроенные взаимодействия между объектами позволяют фильтровать объекты в
                        списке OBJECTS. Взаимодействия можно настроить используя действие Objects Interactions.
                        Выбрав два и более объекта и нажав на одном из них можно получить список содержащихся в них
                        объектов, который будет сформирован в зависимости от настроенного взаимодействия между объектами.
                        Это могут быть все объекты, включенные в выбранные родительские объекты.
                        Либо это могут быть только общие объекты для выбранных родительских объектов.
                        Или это могут быть только не общие объекты для выбранных родительских.
                        Подробное описания взаимодействий и их настроек находится на странице помощи для действия
                        #[a(href="/actions/objects_interactions/help/") Objects Interactions].

                    h4 Поиск объектов
                    p.
                        Над списком OBJECTS находится форма поиска объектов. Если в форме начать набор
                        какой-то части из названия объекта, после ввода нескольких символов в списке OBJECTS
                        появятся объекты, имена которых содержат набранный текст. Сначала производится фильтрация
                        среди отображенных объектов. Если ни один объект не найден, производится поиск среди
                        всех объектов, присутствующих в системе.
                        Если вы работаете с основным интерфейсом ALEPIZ курсор всегда будет находиться в строке
                        поиска, позволяя начать поиск в любое время.
                        При нажатии Tab курсор переместится в строку поиска действий при уменьшенном
                        режиме отображения шторки или в активную вкладку с действием или фильтрами в максимальном
                        режиме шторки. Esc сбрасывает строку поиска и отображает список объектов, которые были до
                        начала поиска
                    p.
                        Можно использовать символы "&" (и) и "|" (или) для объединения поисковых запросов в
                        логическое выражение. Вместо символа "|" можно использовать перенос строк.
                    p.
                        Для поиска объектов можно использовать шаблоны: "_" - один любой символ и
                        "*" - последовательность из ноля или нескольких любых символов.
                    p.
                        При глобальном поиске, если требуется использовать символы "_" или "*" не как шаблоны, а
                        как часть имен объектов,
                        их следует экранировать с помощью символа "\".

                    img(src="./images/help.mainObjectsSearch.png").materialboxed.card-panel.hoverable

                    h3 ACTIONS (Действия)
                    p.
                        Эти компоненты позволяют выполнять действия или предоставлять какую-то
                        информацию. Примером действий могут быть создание объекта в ALEPIZ, администрирование
                        пользователей, просмотр лог файлов, просмотр графика с исторической информации, собранной
                        встроенной системой мониторинга, рестарт сервиса на удаленном сервере,
                        редактирование конфигурационного файла, создание задач, объединяющих другие действия
                        для автоматизации и так далее.
                    p.
                        Можно разрабатывать собственные действия для автоматизации процессов.
                    p.
                        Действия можно выполнять, запуская их вручную или в составе задачи в автоматическом режиме,
                        в зависимости от произошедших событий. Так же действие может быть выполнено в составе
                        задачи по заданному расписанию.
                    p.
                        Вкладка ACTIONS содержит действия, объединенные в группы.
                        При нажатии на выбранном действии, его интерфейс будет показан в основном окне системы.

                    p.
                        Левее вкладки ACTIONS находится иконка #[i.material-icons.red-text.text-lighten-3 cached]
                        которая служит для перезагрузки текущего действия. При нажатии на иконку происходит
                        освобождение кэша и файл с действием подключается к системе заново. Это можно использовать
                        если необходимо начать работать с обновленным действием.

                    h4 Поиск действий
                    p.
                        Над списком ACTIONS находится форма поиска для действий. Если в форме начать набор
                        какой-то части из названия действия, появятся подсказки из которых можно выбрать требуемое
                        действие. Если ни одно действие не подходит по набираемый текст, ALEPIZ автоматически
                        переключится на поиск объектов.
                        При нажатии Tab курсор так же переместится в строку поиска объектов. Esc сбрасывает строку поиска.

                    img(src="./images/help.mainActionSearch.png").materialboxed.card-panel.hoverable

                    h3 FILTERS (Фильтры)
                    p.
                        Список FILTERS позволяет устанавливать фильтры для объектов. При использовании фильтров
                        объекты, не удовлетворяющие выбранным фильтрам, не будут отображаться.
                        Администратор может настроить произвольные фильтры на основе свойств объектов, свойств
                        объектов верхнего уровня и полученных исторических данных.
                        Фильтры применяются только к
                        объектам, у которых есть соответствующие фильтрам свойства или счетчики для получения
                        исторических данных. Объекты, у которых нет соответствующих свойств или счетчиков будут
                        отображаться независимо от установленных фильтров. Если выбраны фильтры,
                        рядом с надписью FILTERS появляется их количество.
                    p.
                        Можно настроить предустановленные фильтры для пользователей.
                        В этом случае фильтры будут автоматически включаться при обновлении пользователем страницы
                    img(src="./images/help.mainFilters.png").materialboxed.card-panel.hoverable
                    p.
                        При выборе фильтров отображается счетчик количества выбранных фильтров
                        #[span(style="border-radius:50%;height:28px;min-width:28px;line-height:28px;text-align:center;box-shadow: 2px 2px lightgrey;font-size: 14px;").waves-effect.green.white-text 11]
                        По умолчанию, несколько фильтров связываются логическим оператором "И".
                        Можно поменять логический оператор. Для этого необходимо нажать на
                        счетчик фильтров и в появившемся редакторе фильтров нажать на оператор, который
                        необходимо поменять. Поддерживаются операторы "И" и "ИЛИ".
                    img(src="./images/help.mainFiltersExpression.png").materialboxed.card-panel.hoverable
                    p.
                        Левее вкладки FILTERS находится иконка
                        #[i.material-icons.red-text.text-lighten-3 bookmark_border]
                        которая служит сброса выбранных фильтров и включению фильтров, предустановленных для
                        пользователя
                    p.
                        Над списком фильтров находится многострочное поле для поиска объектов.
                        При вводе имени объекта производится
                        поиск по всем объектам в системе аналогично основной строке поиска.
                        Основная строка поиска объектов переключается в режим фильтрации отображенных объектов.
                    img(src="./images/help.mainObjectsSearchExt.png").materialboxed.card-panel.hoverable
                    h4 Поиск фильтров
                    p.
                        Над вкладкой FILTERS находится форма поиска фильтров. Если в форме начать набор
                        какой-то части из названия фильтра, после ввода нескольких символов в списке FILTERS
                        появятся фильтры, имена которых содержат набранный текст.
                        При нажатии Tab курсор переместится в строку поиска объектов.
                        Esc сбрасывает строку поиска.

                    h5 Быстрые ссылки
                    div.row
                        div.col.s12.m6.l4
                            img(src="./images/help.mainNavBarLinks.png").materialboxed.card-panel.hoverable
                        div.col.s12.m6.l8
                            p.
                                Для удобства работы можно настроить ссылки. Они появятся в навигационной панели
                                сверху экрана. Ссылки используются для быстрой навигации по объектам или для перехода к
                                определенной web странице. Для навигации по объектам можно настроить отображение
                                объектов, связанных с объектами верхнего уровня. Либо отображение объектов, совпадающих с
                                поисковой строкой. Либо отображение строго определенных объектов.

                    h5 Иконки навигационной строки
                    p Иконки находятся в правом верхнем углу экрана
                    div.row
                        div.col.s12.m6.l4
                            img(src="./images/help.mainNavBarIcons.png").materialboxed.card-panel.hoverable
                        div.col.s12.m6.l8
                            p.
                                #[i.material-icons open_in_new] открывает новую вкладку в браузере с ALEPIZ.
                            p.
                                #[i.material-icons file_upload] открывает окно с информацией о процессе выполнения действий.
                            p.
                                #[i.material-icons account_box] открывает диалог с помощью которого можно авторизоваться
                                или сменить пароль в системе
                            p.
                                #[i.material-icons help_outline] открывает контекстную страницу помощи в зависимости от
                                выбранного действия
                            p.
                                #[i.material-icons home] открывает домашнюю страницу Web сайта ALEPIZ

                    h4 Окно с информацией о процессе выполнения действий
                    img(src="./images/help.mainLogWindow.png" width="1024").materialboxed.card-panel.hoverable
                    p.
                        Окно вызывается при запуске действия или при нажатии на иконку
                        #[i.material-icons file_upload], которая находится в правом верхнем углу экрана.
                        Данные представлены в виде последовательности записей и представляет информацию по отображению
                        или по выполнению действия.
                    p.
                        Информация разбита на разделы, каждый из которых отвечает за выполнение определенного действия.
                        В зависимости от настроенного уровня отладки, количество отображаемой информации может меняться.
                        При нажатии на заголовок раздела, содержимое раздела будет показано или скрыто. Информация
                        обновляется автоматически, пока открыто окно с информацией
                    h4 Кнопки управления
                    p.
                        Кнопки управления действием находятся справа снизу и отображаются в зависимости от прав
                        пользователей. Их наличие регулируется
                        правами на выполнение действия и на возможность создать из действия задачу. Если ни одного
                        права нет, кнопки отображаться не будут.
                    h5.
                        #[a.btn-small.btn-floating.waves-effect.waves-light.red: i.material-icons play_arrow]
                        Выполнить текущее действие (Ctrl+Enter)
                    p.
                        После того, как в выбранном действии были установлены все параметры, необходимо запустить действие
                        на выполнение.
                        Изменения произойдут только после нажатия кнопки выполнения действия, до этого момента никакие
                        изменения параметров действия не приведут к реальным изменениям, которые выполняет действие.
                        Во время выполнения действия откроется окно с информацией о деталях выполнения действия. По этой
                        информации можно определить, что действие было выполнено корректно и при выполнении
                        действия не произошло никаких ошибок.
                    img(src="./images/help.mainActionRun.png" width="1024").materialboxed.card-panel.hoverable
                    p.
                        Для быстрого выполнения действия можно нажать &lt;Ctrl&gt; + &lt;Enter&gt;.
                        В этом случае действие
                        будет запущено и появится соответствующее оповещение. Окно с
                        детальной информацией о выполнении действия открыто не будет. Информацию о выполнении действия
                        всегда можно посмотреть, нажав на иконку #[i.material-icons file_upload] в правом верхнем углу
                        экрана.
                    img(src="./images/help.mainActionRunCtrlEnter.png" width="1024").materialboxed.card-panel.hoverable

                    h5.
                        #[a.btn-small.btn-floating.waves-effect.waves-light.yellow.darken-2: i.material-icons playlist_add]
                        Создать из действия задачу
                    p.
                        Кнопка отображается в зависимости от прав пользователя, либо как основная кнопка, если прав
                        на выполнение действия нет, либо как вспомогательная кнопка, которая появляется при наведении
                        на кнопку выполнения действия. При нажатии на кнопку из текущего действия создается задача,
                        либо, если задача уже была создана, текущее действие добавляется к созданной задаче.
                    p.
                        Задачи служат для создания автоматизации. Задача - это набор действий с определенными
                        параметрами, которые будут выполняться в заданной последовательности.
                        Для создания задачи необходимо установить необходимые параметры действия
                        и добавить его в задачу. Далее повторить операцию по добавлению других действий с установленными
                        параметрами в задачу. В результате получится задача, состоящая из нескольких действий.
                        Задачу можно отредактировать с помощью действия Task maker и выполнить ее любым из доступных
                        способов:
                    ol
                        li Запустить задачу вручную
                        li Установить время выполнения, в которое задача автоматически запустится
                        li Назначить условие, при соблюдении которого задача будет запущена
                        li.
                            С помощью действия Counter settings, используя сборщик Task runner, создать счетчик,
                            запускающий задачу. Счетчик может зависеть от другого счетчика и при выполнении заданных
                            условий, запускать зависимый счетчик с задачей на выполнение.
                            В этом случае в задачу можно передавать динамически сформированные параметры.
                    p.
                        В качестве примера для задачи может быть обновление какого-то прикладного сервиса,
                        состоящее из действий "Обновить файлы сервиса", "Применить скрипт SQL к базе данных сервиса" и
                        "Отредактировать файл конфигурации сервиса". После создания такой задачи, можно назначить
                        условие для ее выполнения: остановка сервиса. Как только сервис будет остановлен,
                        задача по обновлению сервиса будет выполнена автоматически.
                    p.
                        Другим примером может служить создание объектов в системе для мониторинга автоматически
                        найденных хостов в сети. Для этого необходимо с помощью действия Counter
                        settings создать счетчик, который, используя сборщик Objects discovery, будет искать объекты в сети.
                        Далее создать еще один зависимый счетчик, который с помощью сборщика Task runner запустит
                        предварительно созданную задачу по созданию найденных объектов, настройке свойств объектов и
                        подключению к ним необходимых счетчиков для сбора данных.
                    p.
                        Так же можно создать задачу, которая будет осуществлять обслуживание сервисов, например,
                        резервное копирование, упаковку и ротацию логов, обслуживание базы данных и так далее.
                        Для этого можно создать задачу или несколько задач, которые будут автоматически запускать
                        действия по какому-то условию, например "остановка сервиса".


                    h3 Информация в адресной строке браузера
                    p.
                        Адресная строка браузера содержит информацию о выбранных объектах в списке OBJECTS,
                        выбранном действии в списке ACTIONS и параметрах выбранного действия.
                        Для информации о состоянии объектов и действий используются
                        параметры u,c (для информации об объектах) и a (для информации о действии)
                    p u - список выбранных объектов
                    p c - список невыбранных объектов
                    p a - действие
                    p.
                        В примере ниже отображается действие objects_creator (a=%2Factions%2Fobjects_creator).
                        Не выбраны объекты Object17, Object18 и Object19 (u=Object17%2CObject18%2CObject19).
                        Выбраны объекты Object15 и Object16 (c=Object15%2CObject16)
                    pre.
                        https://localhost/?a=%2Factions%2Fobjects_creator&u=Object17%2CObject18%2CObject19&c=Object15%2CObject16
                    p.
                        Кроме информации о состоянии списков в строке браузера может быть информация о параметрах
                        текущего действия. В примере ниже отображается информация о параметрах, заданных администратором
                        для построения графика действия Data browser.
                        Если отправить содержимое командной строки и у получателя есть
                        соответствующие права, при открытии полученной ссылки в своем браузере он
                        увидит точно такой же график.
                    img(src="./images/help.mainURL.png" width="1024").materialboxed.card-panel.hoverable
                    p