//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-5-8 22:48:12
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title #1 Мониторинг доступности хоста
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/stylesheets/material-design-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Пример для настройки мониторинга хоста
        main
            div.row
                div.col.s12.m10.offset-m1

                    p.
                        Если вы еще не установили ALEPIZ, пожалуйста воспользуйтесь
                        #[a(href="/help/install.pug") инструкцией по установке].
                    p.
                        Подробно познакомится с интерфейсом системы ALEPIZ можно на странице помощи
                        #[a(href="/help/") Интерфейс ALEPIZ]
                    p.
                        Если нажать на иконку #[i.material-icons help_outline] в правом верхнем углу экрана, появится
                        помощь по работе с выбранным действием или всей системой, если действие не выбрано.
                    p#howToRunAction.
                        Кнопка запуска действия появляется при наведении курсора на элемент
                        #[a.btn-floating.btn-small.waves-effect.waves-circle.waves-light.orange.darken-1: i.material-icons.large more_horiz],
                        который находится в правом нижнем углу. Для выполнения действия необходимо нажать на
                        #[a.btn-small.btn-floating.waves-effect.waves-light.red: i.material-icons play_arrow]. После
                        этого на экране снизу появится окно с информацией о выполнении действия. До тех пор, пока действие
                        не запущено, введенные изменения не будут применены.

                    h3 Создание новых объектов
                    h4.
                        Создание объекта "Servers".
                    p.
                        Это будет группа в которой будут находится серверы.
                        Для создания объекта Servers, из системного меню Actions, которое находится слева, запустим действие
                        Configuration\Objects creator и заполним поля, как на скриншоте:
                    p.
                        В качестве имени объекта в поле "New object names" введем "Servers". В поле "Description for
                        all new objects" введем описание для объекта "Contains servers".
                        Оно будет появляться при наведении курсора мышки на объект.
                        Для того, чтобы создать объект верхнего уровня, в поле "Order in a objects menu for a new
                        objects" необходимо выбрать один из трех последних пунктов:
                    ul.browser-default
                        li On Top and at up level
                        li At the middle and at up level
                        li At the end and at the up level
                    p Для завершения изменений необходимо #[a(href="#howToRunAction") запустить выбранное действие на выполнение].
                    img(src="./images/help.startCreateServersObj.png" width="1024").materialboxed.card-panel.hoverable

                    p.
                        Если в системном меню, которое находится слева, выбрать вкладку Objects, мы увидим созданный нами
                        объект "Servers", как на скриншоте ниже.
                    h4.
                        Создание объекта - сервер "ALEPIZ".
                    p.
                        Поместим его в группу "Servers".
                        Для этого выберите объект "Servers", щелкнув левой кнопкой мыши на элементе типа
                        CheckBox слева от объекта. В действии "Objects creator" в поле "Groups for new objects"
                        появится выбранный объект: "Servers".
                    p.
                        Далее необходимо заполнить поля, как на скриншоте ниже и выполнить действие по созданию нового
                        объекта "ALEPIZ".
                    img(src="./images/help.startCreateAlepizObj.png" width="1024").materialboxed.card-panel.hoverable
                    p.
                        Если после создания объекта "ALEPIZ" в системном меню Objects нажать на объект "Servers",
                        то отобразятся объекты, включенные в объект "Servers". В данном случае это будет созданный
                        нами объект - "ALEPIZ".

                    h3 Создание свойства объекта
                    p.
                        Создадим свойство для объекта ALEPIZ. Название свойства будет HOST, а значением IP адрес
                        нашего сервера.
                    p.
                        Необходимо выбрать объект ALEPIZ, в системном меню Objects, переключиться, на вкладку Actions и выбрать
                        действие Configuration\Objects properties. Далее, в окне действия, нажать на кнопку добавления
                        свойства объекта #[a.btn-small.btn-floating.waves-effect.waves-light: i.material-icons add]
                        и создать свойство, заполнив поля как на скриншоте ниже. После этого выполнить текущее действие. У
                        объекта "ALEPIZ" появится свойство HOST со значением "127.0.0.1". В дальнейшем, мы будем его
                        использовать для указания счетчикам, с какого хоста необходимо собирать данные.
                    img(src="./images/help.startCreateObjProp.png" width="1024").materialboxed.card-panel.hoverable
                    blockquote.
                        В некоторых случаях в ОС Windows отключен loopback интерфейс и проверять доступность
                        IP адреса 127.0.0.1 невозможно. В этом случае вместо адреса 127.0.0.1 введите реальный IP
                        адрес сервера. Его можно посмотреть, запустив в командной строке программу ipconfig.exe /all. Для проверки
                        того, доступен или нет loopback интерфейс можно запустить в командной строке
                        программу "ping.exe 127.0.0.1".

                    h3 Создания счетчика PING
                    p.
                        Создадим счетчик, который будет раз в 10 секунд отправлять пакеты по протоколу ICMP хосту
                        по адресу, указанному в свойстве HOST, и записывать в базу данных время прохождения пакетов.
                    p.
                        В качестве объекта у нас должен быть выбран "ALEPIZ". В системном меню Actions необходимо
                        выбрать действие Configuration\Counter settings.
                        Введем название нового счетчика в поле "Counter Name": "I: Ping". Буква "I" будет означать, что
                        счетчик является информационным, чтобы потом, когда счетчиков будет много, по названию счетчика
                        можно было быстро определять его тип.
                        В поле "Counter group" выберем группу для нового счетчика "Availability".
                        В качестве сборщика в селекторе "Collector type" выберем "Ping".
                    p.
                        Далее необходимо заполнить параметры для сборщика Ping. В поле "Target host name IPv4 or IPv6 address"
                        введем переменную "%:HOST:%" - свойство объекта, которое мы создали на предыдущем шаге.
                        Символы %: и :% вокруг "HOST" означают, что данный объект является переменной.
                        Использование переменной "%:HOST:%" вместо указания константы "127.0.0.1" позволит нам
                        привязывать созданный счетчик "I: Ping" к другим объектам и собирать с них данные, в зависимости
                        от установленного для каждого из объектов значения свойства HOST.
                        Меняем значение
                        по умолчанию поля "Ping interval..." с 1 на 10 секунд. Значение поле "Number of echo request to send"
                        устанавливаем в 0. Это означает, что мы не будем ограничивать количество отправленных пакетов.
                        Остальные параметры сборщика Ping оставляем без изменений.
                        Для получения помощи о сборщике
                        можно нажать на иконку #[i.material-icons help_outline] в правом верхнем углу формы с настройкой
                        параметров сборщика
                    p.
                        Сборщик Ping возвращает данные в миллисекундах. Для корректного отображения полученных данных
                        необходимо установить единицы измерения. Для этого в поле "Units" выбираем "Time", а в поле
                        "Multiplier" выбираем "ms (0.001sec)".
                    p.
                        Сборщик Ping является активным сборщиком и собирает данные самостоятельно через установленные
                        в его параметрах интервалы времени. В нашем случае это 10 секунд. Поэтому устанавливать
                        зависимости от какого-то другого счетчика в данном случае не требуется.
                    p После заполнения всех требуемых полей запускаем действие Counter settings на выполнение.
                    img(src="./images/help.startCounter1.png" width="1024").materialboxed.card-panel.hoverable

                    h3 Просмотр собранных данных
                    p.
                        Для того, чтобы посмотреть данные, которые начал собирать сервер, необходимо выбрать действие
                        Monitoring\Data Browser. В списке счетчиков слева выбрать наш счетчик "I: Ping".
                        Появится график с данными по счетчику за интервал времени - 1 сутки.
                        Чтобы увидеть наши данные, необходимо уменьшить время, отображаемое на графике, примерно до
                        30 минут. Для этого нужно выделить мышкой требуемую часть графика, в нашем случае крайнюю справа. Для
                        возврата графика к предыдущему состоянию необходимо нажать мышкой в любой его части. Если после
                        выбора интервала времени данные не обновляются, необходимо включить элемент
                        "Auto update latest data", находящийся под графиком.
                    img(src="./images/help.startDataBrowser.png" width="1024").materialboxed.card-panel.hoverable

                    h3 Создание счетчика, генерирующего событие
                    p.
                        Создадим сложный счетчик, который при превышении порогового значения счетчика "I: Ping" будет генерировать
                        событие. Для того, чтобы определиться с пороговым значением, необходимо посмотреть на график
                        счетчика ping и выбрать значение, которое счетчик достигает. В нашем примере, время прохождения
                        пакета обычно больше 200 микросекунд. Поэтому, для того, чтобы событие гарантировано генерировалось,
                        в качестве порогового значения выберем превышение времени прохождения пакета в 200 микросекунд,
                        то есть 0.2 миллисекунды. В ALEPIZ время указывается в миллисекундах.
                    img(src="./images/help.startPingGraph.png").materialboxed.card-panel.hoverable
                    p.
                        В качестве объекта у нас должен быть выбран "ALEPIZ". В системном меню Actions необходимо
                        выбрать действие Configuration\Counter settings.
                    h5 Вкладка Counter
                    div.row
                        div.col.s12.m6.l7
                            p.
                                После выбора Counter settings мы окажемся на вкладке Counter (вкладки находятся сверху окна действия).
                                Подходящей группы для нашего счетчика нет, поэтому создадим ее. Для этого рядом с полем
                                "Counter groups" нужно нажать на кнопку
                                #[button.btn-floating.btn-small: i.material-icons playlist_add].
                                Выберем пункт "Add new group (and enter name of the new group bellow)".
                                Введем название новой группы "Platform events" и нажмем Apply.
                            p.
                                Введем название нового счетчика в поле "Counter Name": "E: Ping response time too big".
                                Буква "E" будет означать, что счетчик является генератором событий.
                                Выбираем созданную группу "Platform events" в "Counter groups".
                                В качестве сборщика в поле "Collector type" выберем "Event generator".
                        div.col.s12.m6.l5
                            img(src="./images/help.startMkCounterGroup.png" width="300").materialboxed.card-panel.hoverable
                    p.
                        Вводим параметры сборщика. В поле "Description of event..." введем
                        "Ping response time: %:PING_RTT_AVG:% ms". Это поле будет отображаться в Dashboard,
                        когда наступает событие. В поле используется переменная %:PING_RTT_AVG:%, которую мы
                        определим позже. В поле Importance поставим важность события - 4.
                        Чем меньше цифра, тем событие важнее.
                        В поле "Pronunciation of event" введем текст на русском языке,
                        который будет произносится при наступлении события:
                        "Время прохождения пакетов до хоста %:OBJECT_NAME:% больше %:PING_RTT_AVG:% миллисекунд"
                        В поле используется встроенная переменная %:OBJECT_NAME:%, которая будет заменена на
                        имя объекта. Переменную %:PING_RTT_AVG:% определим позже.
                    img(src="./images/help.startCounter2Main.png" width="1024").materialboxed.card-panel.hoverable

                    h5 Вкладка Variables
                    p.
                        В окне действия переключаемся на вкладку Variables и определяем переменные. Введем константу
                        "RESPONSE_TIME", которая будет определять предельное значение прохождения пакета.
                        Для этого нужно нажать на
                        #[a.btn-small.btn-floating.waves-effect.waves-light: i.material-icons library_add] и заполнить
                        поля, как на скриншоте.
                    p.
                        Далее определим переменную "PING_RTT_AVG", которая будет вычисляться из
                        исторических значений, собранных счетчиком "I: Ping". Для этого нужно нажать на
                        #[a.btn-small.btn-floating.waves-effect.waves-light: i.material-icons add_box] и заполнить
                        поля, как на скриншоте. В данном случае используется функция AVG(5m), которая в нашем примере
                        считает среднее арифметическое из исторических значения счетчика, полученных за последние
                        5 минут. Результат вычисления этот функции будет отображен на Dashboard и произнесен голосом,
                        когда событие наступит.
                    p.
                        По всем функциям можно получить помощь, нажав на иконку
                        #[i.material-icons help_outline] в правом верхнем углу формы с параметрами переменной.
                    img(src="./images/help.startCounter2Vars.png" width="1024").materialboxed.card-panel.hoverable
                    h5 Вкладка Links
                    p.
                        В окне действия переключаемся на вкладку Links. Вкладка служит для управления привязкой счетчика
                        к объектам и создания зависимостей от родительских счетчиков с событиями, при наступлении
                        которых счетчик будет запускаться и получать новые данные.
                    p.
                        Счетчики не могут существовать без привязки к объектам. В данном окне показано, что счетчик
                        подключен к объекту ALEPIZ.
                    p.
                        Настроим зависимость текущего счетчика от родительского счетчика "I: Ping".
                        Сделаем универсальный счетчик, который будет зависеть не от родительского объекта ALEPIZ,
                        а от любого объекта, к которому привязан счетчик.
                        Для этого, перед созданием зависимости, нужно перейти в системное меню Objects и убрать
                        выделение с объекта ALEPIZ.
                    p.
                        Далее, для добавления зависимости, в окне действия необходимо нажать
                        на #[a.btn-small.btn-floating.waves-effect.waves-light: i.material-icons add] и заполнить поля
                        формы как на скриншоте ниже.
                        Проверяем, что событие для обновления счетчика отвязано от какого-либо объекта, то есть
                        в форме с событием есть надпись "Update event, generated by #[u this object]".
                    p.
                        В поле "Counter" выбираем родительский счетчик "I: Ping".
                    p.
                        В поле "Update mode" выбираем
                        режим обновления события "Update each time when expression value is changed to true and once
                        when changed to false", что означает, что событие будет обновляться каждый раз, когда
                        логические выражение, отвечающее за генерацию события, будет принимать значение true и один раз,
                        когда логические выражение, отвечающее за генерацию события, будет примет значение false.
                        Такой режим обновления необходим для того, чтобы каждый раз, когда время прохождения пакета
                        превышало предельно допустимое значение, переменная %:PING_RTT_AVG:% вычислялась заново и
                        в Dashboard отображалась актуальная информация о текущем времени прохождения пакетов.
                    p.
                        В поле "Logical expression" необходимо ввести логические выражение, отвечающее за генерацию
                        события. В нашем случае выражением будет служить сравнение значений переменных
                        %:PARENT_VALUE:% > %:RESPONSE_TIME:%. То есть если встроенная переменная %:PARENT_VALUE:%,
                        значение которой равно последнему полученному значению счетчика "I: Ping", окажется больше,
                        чем значение переменной переменной %:RESPONSE_TIME:% (в нашем случае это 0.2),
                        то событие будет сгенерировано.
                    img(src="./images/help.startCounter2Links.png" width="1024").materialboxed.card-panel.hoverable
                    p Запускаем действие Counter settings на выполнение

                    h3 Просмотр событий
                    p.
                        Для просмотра событий используется действие Monitoring\Dashboard. Необходимо его выбрать.
                        Если вы правильно подобрали предельное значение для события, то оно должно сгенерироваться и
                        отобразиться в Dashboard, как на скриншоте ниже. Возможна небольшая задержка перед генерацией
                        события, не более 5 минут. Она связана с обновлением кэшированных параметров сервера.
                    img(src="./images/help.startDashboard.png" width="1024").materialboxed.card-panel.hoverable







