//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-5-8 22:48:12
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Обзор системы ALEPIZ
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/stylesheets/material-design-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Система ALEPIZ
        main
            div.row
                div.col.s12.m10.offset-m1
                    h2 Обзор системы ALEPIZ
                    p.
                        ALEPIZ предназначен для организации мониторинга инфраструктуры и автоматизации процессов.
                        С его помощью можно настроить полноценную систему обслуживания таким образом, что все
                        участвующие процессы, будут логически связаны между собой.
                        Такой подход подразумевает, что в каждый момент времени проводится анализ текущего состояния
                        программных и аппаратных компонентов инфраструктуры и процессы запускаются в зависимости от
                        текущего ее состояния.
                    img(src="./images/help.mainInterface.png" width="1024x").materialboxed.card-panel.hoverable
                    div.row
                        div.col.s12.m6
                            h3 Ключевые особенности
                            blockquote.
                                После установки, ALEPIZ сразу готов к работе. Он включает в себя все необходимые компоненты, в
                                том числе Web сервер и сервер баз данных.
                                Для своего функционирования система не требует установки дополнительного программного обеспечения
                            blockquote.
                                ALEPIZ можно быстро подготовить для использования в небольшой
                                инфраструктуре, вручную создавая статические объекты мониторинга, не прибегая
                                к глубокому изучению системы и разработке собственных компонент.
                            blockquote.
                                С помощью ALEPIZ можно настроить обслуживание разветвленной
                                инфраструктуры, объединив все ее части
                                в единое целое, автоматизируя различные процессы и разрабатывая новые компоненты для ее обслуживания.
                            blockquote.
                                ALEPIZ позволяет достичь высокого быстродействия и обслуживать большое количество процессов
                                за счет использования параллельных вычислений, асинхронного ядра системы и компонент,
                                производительной базы данных и применения умного кэширования.
                            blockquote.
                                Интеллектуальный алгоритм пропуска похожих данных ALEPIZ позволяет уменьшить требования
                                к объему систем хранения в пять и более раз без ущерба информативности. За счет того,
                                что часть похожих данных не обрабатывается, уменьшается нагрузка на вычислительное
                                ядро системы, позволяя использовать меньшее количество серверных ресурсов.
                            blockquote.
                                Доступ к ALEPIZ, все настройки и управление системой осуществляется через Web
                                интерфейс. Интерфейс автоматически адаптируется к
                                работе на стационарных ПК, планшетах или смартфонах, в зависимости от размера экрана, разрешения
                                и способа ввода информации
                        div.col.s12.m6
                            img(src="./images/help.mainPad1.png" width="400px").materialboxed.card-panel.hoverable
                            img(src="./images/help.installSetupOptions.png" width="400px").materialboxed.card-panel.hoverable

                    h2 Примеры различных подходов в обслуживании инфраструктуры
                    p.
                        Для сравнения ниже описан пример стандартного подхода к настройке обслуживания различных процессов
                        и показаны ситуации, когда подобный подход может привести к разрушению инфраструктуры.
                    p.
                        Часто задачи по обслуживанию различных процессов и сервисов запускаются по расписанию.
                        Расписание обычно настраивается по следующему принципу: администратор вычисляет
                        время завершения предыдущей задачи, добавляет какой-то временной промежуток, чтобы выполнение
                        задач не пересекалось даже в случае возникновения задержек и устанавливает расписание для
                        запуска следующей задачи. В случае, если
                        по какой-то причине выполнение одной задачи в цепочке заняло больше времени, чем запланировано,
                        либо произошел сбой в ее выполнении, остальные задачи все равно будут запущены, но из-за сбоя
                        будут выполнены с ошибками. Это может привести к повреждению компонентов инфраструктуры.
                        Кроме того, временные промежутки между запусками задач увеличивают время обслуживания системы,
                        что приводит к необоснованному простою сервисов, ожидающих окончания обслуживания.
                    h3 Пример системы обслуживания сервиса
                    p.
                        Рассмотрим применение разных подходов к администрированию на небольшом примере.
                        Сервис запускается и останавливается по расписанию и для своей работы использует базу
                        данных.
                        Обслуживание системы заключается в упаковке ротированных сервисом лог файлов, выполнения
                        резервного копирования файлов сервиса и обеспечения резервного копирования
                        базы данных. В случае выхода новых версий
                        программного обеспечения, во время остановки сервиса производится обновление файлов и
                        изменение структуры базы данных с помощью скриптов SQL.

                    h3 Пример сбоя в инфраструктуре с обслуживанием по расписанию
                    p.
                        Если для выполнения описанных выше задач используется не решение на основе
                        отслеживания состояния компонентов системы, а расписание, то при
                        сбое в работе обслуживающих процессов, инфраструктура может быть испорчена из-за того, что
                        запускающиеся задачи не учитывают текущее состояние системы.
                    p.
                        Например, если администратор просматривал лог файл и
                        забыл выйти из программы для просмотра, сервис не сможет отротировать лог файл и корректно
                        остановиться. Упаковка логов
                        не будет выполнена. Резервное копирование файлов сервера выполнится только частично из-за того,
                        что при работающем сервисе некоторые файлы будут заняты системой. Резервное копирование базы данных будет выполнено
                        при работающем сервисе, что может привести к создании неконсистентной копии. Обновление файлов
                        сервиса так же пройдет с ошибкой, потому что часть файлов работающего сервиса не сможет обновится.
                        На базу данных будет применен скрипт для обновления, но при работающем сервисе, это может
                        привести к тому, что часть данных будет испорчена.
                    p.
                        В результате, не смотря на то, что все необходимые задачи для обслуживания системы были
                        запланированы и корректно запустились, инфраструктура будет разрушена и не будет
                        резервной копии для ее восстановления на последний момент нормальной работы сервиса.
                    h3 Пример обслуживания инфраструктуры с учетом текущего состояния системы
                    div.row
                        div.col.s12.m6
                            p.
                                Если применять подход в котором на каждом шаге будет отслеживаться состояние инфраструктуры
                                и дальнейшие шаги будут выполняться только с учетом ее текущего состояния, описанной выше
                                ситуации не произойдет. Обслуживающая система не запустит задачи, потому что не
                                наступило условия для их выполнения. При разработке системы обслуживания, ее можно
                                настроить так, чтобы система самостоятельно ликвидировала факты, мешающие обслуживанию.
                            p.
                                Если данный подход применить к примеру выше, то после неудачной остановки сервиса, обслуживающая
                                система запустит анализ, по какой причине сервис не был остановлен, выявит открытие лог файла и отключит
                                администратора. После чего повторно остановит сервис и последовательно выполнит все задачи.
                                Так как система выполняет задачи в зависимости от текущего состояния и завершения предыдущих
                                задач, они не будут пересекаться по времени, и обслуживание сервиса будет выполнено корректно.
                                При этом, не смотря на произошедший сбой, сроки обслуживания сервиса могут стать меньше,
                                потому что, в отличие от подхода с настройкой обслуживания по расписанию, временные паузы между
                                запусками обслуживающих задач в таком подходе не применяются.
                        div.col.s12.m6
                            img(src="./images/help.discoveryCntCreate1.png" width="500px").materialboxed.card-panel.hoverable
                    p.
                        ALEPIZ предназначен для создания системы обслуживания инфраструктуры, где все процессы, от
                        мониторинга до запуска задач, логически связаны между собой. При этом, в случае необходимости,
                        он оставляет возможность выполнения задач по расписанию.
                    h3 Обслуживание нестандартной инфраструктуры
                    p.
                        Если обслуживаемая система не может управляться стандартными средствами, ALEPIZ предоставляет
                        возможность разработки новых компонент, адаптированных практически под любую систему.
                        Для создания новых компонент нет необходимости в приобретении средств разработки, так как средства
                        уже встроены в систему.
                        Дополнительно к этому есть подробная документация по созданию компонент, а открытый код
                        уже существующих компонент может служить в качестве примера.
                    img(src="./images/help.overViewDev.png" width="1024px").materialboxed.card-panel.hoverable
                    h2 Особенности системы мониторинга
                    p.
                        ALEPIZ имеет встроенную систему мониторинга, позволяющую собирать и хранить исторические данные
                        поддерживая различные протоколы сбора информации. Настройка системы мониторинга основана
                         на создании зависимостей между счетчиками, собирающими данные. Например, нет никакого смысла
                        собирать прикладные данные сервиса, если он остановлен. Поэтому счетчики, собирающие прикладную
                        информацию о сервисе должны зависеть от счетчика, собирающего информацию о статусе сервиса. Если
                        статус сервиса показывает, что сервис остановлен, условие запуска дочерних счетчиков по сбору
                        прикладных данных выполнено не будет и они не запустятся. Даже стандартный для систем мониторинга
                        сбор данных через временные интервалы настраивается как зависимость от счетчика, который
                        генерирует сигналы в определенные интервалы времени.
                    p.
                        Для генерации событий так же используются зависимости между счетчиками. Они, например, могут быть
                        настроены таким образом, что счетчик, генерирующий событие, запускался после того как полученные значения от
                        родительского счетчика превысили установленный предел. Например, можно настроить зависимость,
                        что при уменьшении объема свободной памяти на сервере до 1Gb, будет запущен счетчик генерирующий
                        соответствующее событие. На Дашбоарде появится предупреждение, которое, при
                        необходимости, будет продублировано голосом. Администраторам будет отправлено оповещение по
                        e-mail и\или другими способами.
                    p.
                        Все собранные исторические данные доступны для дальнейшего просмотра и анализа.
                        Для предотвращения
                        бесконечного роста базы данных предусмотрена система очистки старых исторических данных.
                        Для быстрого доступа к большому количеству данных используется система трендов,
                        хранящая только среднее арифметическое по значениям исторических данных за определенные
                        интервалы времени.
                    p.
                        Запуск задач по обслуживанию системы может выполняться на основе анализа состояния системы по
                        полученным историческим данным, собранным встроенной системой мониторинга.
                    p.
                        При отсутствии средств по сбору данных, например в случае, если прикладная система
                        возвращает их нестандартным способом, ALEPIZ позволяет
                        разработать и подключить новый сборщик, адаптированный для прикладной системы.
                    h3 Алгоритм пропуска похожих данных
                    p.
                        Для уменьшения нагрузки на вычислительное ядро и дисковую подсистему, ALEPIZ использует
                        интеллектуальный алгоритм
                        пропуска похожих данных. При получении нового значения, проводится автоматический анализ
                        собранных данных и если новое значение существенно не отличается от данных, которые были
                        получены до этого, оно не будет обрабатываться вычислительным ядром ALEPIZ и
                        не будет записано в базу данных. Например, объем оперативной памяти на сервере собирается
                        раз в 30 секунд и в нормальной ситуации меняется незначительно. ALEPIZ проанализирует
                        изменения и пропустит до шести похожих значений, полученных от счетчика. Это позволяет не занимать
                        дисковое пространство одинаковыми данными, при этом иметь полную картину по историческим
                        значениям. При необходимости, параметры пропуска можно перенастроить или вообще отключить
                        данную технологию для любого сборщика, который ее поддерживает.

                    h2 Компоненты ALEPIZ
                    p.
                        Модульная архитектура ALEPIZ состоит из ядра, к которому подключаются различные компоненты.
                        Ниже дано описание типов компонент, которые можно подключить к ALEPIZ. При необходимости, можно
                        разработать собственные компоненты любого типа.
                    div.row
                        div.col.s12.m6
                            h4 Сборщики
                            p.
                                ALEPIZ позволяет собирать и сохранять данные с различных систем. Для сбора каждого типа данных
                                используется сборщик (collector). Например, ALEPIZ может собирать
                                данные о работе аппаратного обеспечения по протоколу SNMP или данные о работе системы
                                и программного обеспечения с #[a(href="https://www.zabbix.com" target="__blank") Zabbix агентов],
                                проверять доступность и время отклика сервисов в
                                сети, подключаясь на порт удаленного сервиса по TCP/IP или анализировать время отклика хостов с
                                помощью встроенного сборщика Ping.
                                Так же есть возможность находить новые хосты в сети с помощью сборщика
                                Objects discovery, автоматически формируя мониторинг инфраструктуры. Можно выполнять информирование о
                                событиях, основанных на превышении
                                предельных значений по собранным данным или, например, запускать задачи при выполнении
                                определенных условий.
                            p.
                                При необходимости можно разработать свой сборщик, который будет учитывать архитектуру
                                используемой системы и собирать с нее необходимые данные или генерировать собственные.
                        div.col.s12.m6
                            img(src="./images/help.startCounter1.png" width="500px").materialboxed.card-panel.hoverable
                    div.row
                        div.col.s12.m8
                            h4 Действия
                            p.
                                ALEPIZ позволяет выполнять определенные действия (actions). Можно выполнить внутреннее действие,
                                например завести новый объект мониторинга в ALEPIZ, либо внешнее, например,
                                запустить сервис, или упаковать лог файлы, или выполнить обновление сервиса. Кроме того, действие
                                может служить для просмотра информации, например можно посмотреть лог файл или данные, собранные
                                встроенной
                                системой мониторинга. С помощью действия можно выполнить подключение к удаленному
                                серверу по протоколу RDP или ILO.
                            p.
                                Можно разработать собственные действия, которые будут использоваться в обслуживании любой
                                нестандартной инфраструктуры.
                        div.col.s12.m4
                            img(src="./images/help.mainActionSearch.png" width="300px").materialboxed.card-panel.hoverable
                    div.row
                        div.col.s12.m8
                            h4 Лаунчеры
                            p.
                                Для выполнения действий используются специальные компоненты, позволяющие их запускать, в зависимости
                                от выбранной для действия архитектуры. Такие компоненты называются лаунчерами (launchers). Примером
                                лаунчера может служить модуль для подключения и запуска JavaScript файла, написанного на nodejs, либо запуск
                                внешней программы, которой будут переданы необходимые параметры, либо выполнение программы на
                                удаленном сервере через протокол SSH или WMI.
                            p.
                                Если существующих в ALEPIZ лаунчеров не хватает, можно самостоятельно разработать новый.
                            h4 Средства связи
                            p.
                                Для связи с пользователями используются средства связи. Средством связи может
                                быть email, СМС, голосовое оповещение и так далее. Действия и сборщики могут использовать
                                средства связи для передачи различной информации пользователям системы. Например, это
                                может быть события, произошедшие в системе или изменение статуса задачи.
                            p.
                                Если существующих в ALEPIZ средств свяи не хватает, можно самостоятельно разработать новое.
                        div.col.s12.m4
                            img(src="./images/help.userEditor.png" width="300px").materialboxed.card-panel.hoverable
                    h2 Сущности ALEPIZ
                    div.row
                        div.col.s12.m9
                            p.
                                Архитектура ALEPIZ максимально проста для понимания. В нем существует три встроенные
                                сущности, с помощью которых осуществляется выполнение обслуживания инфраструктуры. Это
                                объекты (objects), счетчики (counters) и задачи (tasks).
                            h4 Объекты
                            p.
                                Объекты это любые сущности, которые могут иметь названия. Примером объекта может быть название
                                сервера, с которого собираются данные для мониторинга, или группа, объединяющая другие объекты
                                (например, объект Servers, объединяющая серверы организации), или шаблон, хранящий стандартные
                                свойства для быстрого создания новых объектов.
                            h4 Счетчики
                            p.
                                Счетчики это сущности, которые служат для сбора или генерации данных, используя сборщики с
                                определенными параметрами. Например, сборщику Ping в качестве параметра необходимо передать имя хоста.
                                Для каждого счетчика выбирается сборщик и настраиваются требуемые параметры для сбора данных.
                                Счетчик всегда подключается к одному или нескольким
                                объектам. Например, счетчик, собирающий объем доступной оперативной памяти, можно подключить
                                к объектам, отвечающим за мониторинг серверов организации.
                                Счетчики могут зависеть друг от друга. Сбор данных
                                производится только при возникновении необходимых условий. Например, нет смысла собирать данные
                                о потреблении процессом памяти до тех пор, пока процесс не запущен. Генерация различных событий
                                мониторинга так же основана на зависимостях счетчиков.
                            h4 Задачи
                            p.
                                Задачи - это действия, объединенные в последовательность. Например, это может быть заведение
                                нового объекта ALEPIZ и подключение к нему счетчиков для сбора необходимой информации.
                                Либо обновление файлов сервиса и запуск SQL скрипта для модификации структуры базы данных.
                                Задачи можно запускать различными способами, например, вручную либо по какому-то
                                условию, либо создав для этого специальный счетчик.

                        div.col.s12.m3
                            img(src="./images/help.mainPhone2.png" width="300px").materialboxed.card-panel.hoverable
                    h2 Встроенная система обработки данных
                    p.
                        Кроме сбора данных можно выполнять их обработку.
                        ALEPIZ содержит функции для обработки исторических данных и
                        для создания выражений, обрабатывающих данные. При необходимости в процесс
                        обработки данных можно включать фрагменты кода на языке JavaScript. Полученные значения могут
                        быть использованы как в родительских, так и во всех зависимых счетчиках. Сборщики и задачи
                        так же могут получать параметры, которые генерируются динамически.
                    img(src="./images/help.var1ShortHostName.png" width="1024x").materialboxed.card-panel.hoverable





