//
    Copyright © 2022. Alexander Belov. Contacts: <asbel@alepiz.com>
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Настройки сервера асинхронного логирования log.json
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Описание настроек для сервера логирования log.json
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 Описание системы логирования
                    p.
                        Система логирования запускается как отдельный поток и принимает сетевые подключения клиентов,
                        который в свою очередь передают ей данные для логирования. Система пытается сортировать полученные
                        сообщения по времени до тех пор, пока они находятся в кэше.
                        Но если сообщение уже было записано в файл, следующее сообщение записывается после него, даже если
                        у предыдущего метка времени была больше, чем у текущего сообщения могут быть записаны в лог
                    p.
                        Для настройки возможности логирования в модуле .js, первой строкой файла необходимо прописать
                        подключение к модулю логирования const log = require('../lib/log')(module);. Это необходимо
                        для корректного вычисления имени файла .js, из которого производится логирование. Для логирования
                        можно использовать функции ниже. Количество параметров, переданных в функцию логирования
                        не ограничено. Тип параметров может быть любой, сервер логирования попытается преобразовать
                        все переданные параметры к текстовому типу, удобному для чтения.
                    h4 Формат данных в лог файлах
                    p.
                        <b>&lt;date&gt; &lt;time&gt;[&lt;dirs:&lt;file&gt;:</b>[<b>&lt;TID&gt;:</b>]<b>&lt;PID&gt;] &lt;logLevel&gt;: &lt;logMessage&gt;</b>
                    ul.browser-default
                        li &lt;date&gt; - дата (месяц и день). Устанавливает функция логирования
                        li &lt;time&gt; - время в миллисекундах. Устанавливает функция логирования
                        li.
                            &lt;dirs&gt; - каталоги относительно корневого каталога ALEPIZ до файла .js из которого запущена
                            функция логирования.
                        li &lt;file&gt; - файл .js без расширения из которого была запущена функция логирования
                        li &lt;TID&gt; - если функция логирования запущена из потока, то Thread ID
                        li &lt;PID&gt; - идентификатор процесса в ОС (Process ID)
                        li &lt;logLevel&gt; - уровень логирования для сообщения (S, D, I, W, E, EXIT)
                        li &lt;logMessage&gt; - сообщение, переданное в функцию логирования
                    p Например:
                    pre.
                        2.08 13:32:23.292[server:serverController:1:1584] I: Starting 10 children for server: connect,constant,Jav... CPU cores number: 8, servers number: 1
                    h4 Функции логирования
                    ul.browser-default
                        li.
                            log.debug(), log.info(), log.warn(), log.error() - используются для
                            записи данных в лог файл с соответствующим уровнем логирования.
                        li.
                            log.exit() - используется для записи информации с максимальным приоритетом в файл exit.log
                            при выходе.
                        li.
                            log.throw() - для записи информации и дальнейшем выходе из программы.
                        li.
                            log.options(&lt;options&gt;, logData,....) - для передачи параметров в функцию логирования в виде
                            { level: &lt;log level&gt;, filenames: [&lt;file name1&gt;, ...], keepLineBreaks: &lt;true|false&gt; }
                        li.
                            log.row(logLevel, arrayOfLogData, nodejsModule, options) - для записи данных в лог файл в
                            ручном режиме.
                    h4 Настройки сервера логирования
                    ul.browser-default
                        li localAddress - IP адрес к которому будет привязан сервер логирования. По умолчанию 127.0.0.1.
                        li.
                            serverAddress - IP адрес, к которому будут подключаться клиенты для логирования.
                            По умолчанию 127.0.0.1.
                        li.
                            serverPort - TCP порт, который будет слушать сервер и к которому будут подключаться клиенты
                            для логирования. По умолчанию 10161.
                        li.
                            dir - каталог для лог файлов. По умолчанию logs. Если каталог не существует, при запуске сервиса
                            он будет создан автоматически.
                        li.
                            reportDir - каталог для файлов с отчетами об ошибках. Каталог будет находится внутри
                            каталога для лог файлов.
                            Используется в качестве параметра для ключей nodeJS --diagnostic-dir и --report-dir
                            По умолчанию nodejs. Если каталог не существует, при запуске сервиса он будет создан
                            автоматически.
                        li.
                            maxSocketErrorsCnt - максимальное количество ошибок сокета, после которого сервер будет
                            остановлен. По умолчанию 10000.
                        li.
                            childrenNumber - количество потоков, обрабатывающих запросы записи в лог и аудита.
                            По умолчанию 10.
                        li.
                            logLevel - максимальный уровень логирования для вывода сообщений в log файлы. Может быть
                            D - log.debug(), I - log.info(), W - log.warn(), E - log.error().
                            По умолчанию I.
                        li.
                            wrapLines - (true|false) оставлять форматирование (true) или удалять из логирования
                            переводы строк (false). По умолчанию false.
                        li.
                            logToConsole - (true|false) выводить или не выводить сообщения на консоль по умолчанию.
                            По умолчанию false.
                        li.
                            alwaysLogToConsoleIfLogLevelMoreThan - всегда выводить сообщения на консоль, если уровень
                            логирования сообщений больше установленного. По умолчанию E.
                        li.
                            file - Имя файла для логирования по умолчанию, если не настроено логирование в другой файл.
                            По умолчанию log.log
                        li.
                            exitLogFileName - имя лог файла в который будут записываться сообщения при штатном или
                            аварийном выходе функцией log.exit(). Запись этой функцией происходит без использования сервера
                            логирования максимально быстро, что позволяет не терять информацию. По умолчанию exit.log.
                        li.
                            daysToKeepLogs - количество дней для хранения логов при их ежедневной ротации. По умолчанию 2
                        li.
                            auditDB - путь до базы данных с информацией по выполняемым пользователями действиям.
                            Используется для хранения информации о сделанных изменениях и вывода информации о выполненных
                            действиях в Веб интерфейсе ALEPIZ. Можно указать путь до файла с базой данных или
                            объект с несколькими базами данных. Несколько баз данных имеет смысл указывать для
                            резервирования информации. Если указано несколько баз данных, то данные будут
                            записаны в каждую базу, а прочитаны только из первой в списке.
                        li.
                            printObjectWithDepth - Указывает количество повторений при форматировании объекта.
                            Это полезно для проверки больших объектов. По умолчанию: 10
                        li.
                            printMaxArrayLength - Указывает максимальное количество элементов Array, TypedArray,
                            WeakMap и WeakSet, которые необходимо включить при форматировании.
                            По умолчанию: 100.
                        li.
                            printMaxStringLength - Указывает максимальное количество символов, включаемых при
                            форматировании. По умолчанию: 2000.
                        li.
                            printBreakLength - Длина, с которой входные значения разбиваются на несколько строк.
                            По умолчанию: 80.
                        li.
                            printCompactLevel - Если для этого параметра установлено значение false, каждый ключ
                            объекта будет отображаться на новой строке. Он также добавит новые строки к тексту,
                            длина которого превышает длину printBreakLength.
                            Если установлено число, то большинство n внутренних элементов объединяются в одну строку,
                            если все свойства укладываются в длину printBreakLength.
                            Короткие элементы массива также группируются вместе. Текст не будет уменьшен менее чем на
                            16 символов. По умолчанию: 10.
                        ul
                            li.
                                path путь до базы данных (абсолютный или относительный)
                            li.
                                file - имя файла базы данных
                            li.
                                relative - (Boolean) какой тип пути к БД указан: абсолютный (false)
                                или относительный (true)
                        li.
                            logToAudit - (true|false) выводить или не выводить все сообщения по умолчанию в auditDB.
                            По умолчанию false.
                        li.
                            auditSystemTasks - записывать в аудит результаты выполнения задач, запущенных автоматически,
                            например, при автоматическом обнаружении и заведении новых объектов мониторинга.
                            Может привести к быстрому росту базы auditDB. По умолчанию false.
                        li.
                            maxRecordsReturnedFromDatabase - максимальное количество записей, которые могут быть
                            возвращены в Веб интерфейс пользователя при просмотре лога о результате выполненного
                            действия или при запросе в аудите. По умолчанию 10000.
                        li.
                            maxSessionsReturnedFromDatabase - максимальное количество сессий, которые могут быть
                            возвращены при запросе в аудите. По умолчанию 1000.
                        li.
                            maxRecordsReturnedFromBrowserForOneSession - количество записей, которые могут быть
                            возвращены в Веб интерфейс пользователя при выполнении
                            действием ajax.js или server.js. По умолчанию 50.
                        li.
                            auditLogLevel - максимальный уровень логирования сообщений в базу auditDB. Ниже этого
                            уровня сообщения не будут попадать в auditDB и отображаться в Веб интерфейсе.
                            По умолчанию I.

                        p.
                            Если параметр является объектом, сервер считает что это настройка для логирования
                            по файлам .js, которые используют функции логирования. Например, объект
                            "lib": {"log": {"logToAudit": false, "file": "logServer.log"}} позволит выводить в лог
                            файл logServer.log логирование из файла lib\log.js. Логирование в auditDB при этом не будет.
                            Или объект "server": {"file": "server.log"} - позволит выводить в файл server.log логирование
                            всех файлов, использующих функции логирования и находящихся в каталоге server\.
                            Если для файла .js не описана настройка
                            логирования, а в файле применяется функция логирования, логирование будет производится в
                            файл из настройки file, по умолчанию log.log.
                            Ниже перечислены параметры объектов:
                        ul.browser-default
                            li file - имя файла в который будет производится логирование для указанного модуля .js
                            li.
                                logToConsole - (true|false) выводить или не выводить сообщения на консоль.
                                Умолчание в зависимости от глобальной настройки logToConsole
                            li.
                                logToAudit - (true|false) выводить или не выводить сообщения в auditDB.
                                Умолчание в зависимости от глобальной настройки logToAudit




