//
    Copyright © 2022. Alexander Belov. Contacts: <asbel@alepiz.com>
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Настройки сервера выполнения задач taskServer.json
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Описание настроек сервера выполнения задач taskServer.json
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 Описание
                    p.
                        В ALEPIZ можно создавать задачи, которые состоят из последовательности действий и планировать
                        их выполнение в том числе и в зависимости от определенных условий.
                        Условием для выполнения задач может быть возвращаемое счетчиком значение, которое при
                        преобразовании в тип Boolean интерпретируется как true. Для того, чтобы можно было установить
                        зависимость
                        выполнения задачи от возвращаемого счетчиком значения, в действии Counter settings для этого
                        счетчика необходимо включить флажок Condition for task.
                    p.
                        Например, можно создать счетчик Start of maintenance period (Начало периода обслуживания),
                        который будет принимать значение
                        true после того, как сервис остановится, система ротации логов упакует лог файлы и система
                        резервного копирования скопирует необходимые данные. От этого счетчика можно устанавливать
                        зависимость для задачи по обновлению сервиса, которая скопирует новые исполняемые файлы и исправит
                        файл конфигурации сервиса в соответствии с правилами для новой версии сервиса.
                    p.
                        Для отслеживания условий запуска задач, служит
                        сервер выполнения задач. Он запускается в отдельном потоке, получает по сети данные от сервера
                        Counter processor и, при выполнении условий, запускает задачи на выполнение. Подробнее о
                        задачах можно почитать в справке к действию Task maker.
                    h3 Настройки
                    ul.browser-default
                        li.
                            disable (true|false) - с помощью этой настройки можно отключить сервер задач, например для
                            распределения нагрузки между несколькими экземплярами ALEPIZ. По умолчанию false.
                        li localAddress - IP адрес к которому будет привязан сервер задач. По умолчанию 127.0.0.1.
                        li.
                            serverAddress - IP адрес, к которому будут подключаться потоки
                            сервера Counter processor. По умолчанию 127.0.0.1.
                        li.
                            serverPort - TCP порт, который будет слушать сервер и к которому будут подключаться потоки
                            сервера Counter processor. Например, 10166.
                        li.
                            waitingConditionsTime - интервал времени в миллисекундах, который определяет, как часто
                            будут проверяться условия для запуска задач в зависимости от исторического значения каунтера.
                            По умолчанию - 30000.
                        li.
                            dataFile - файл с условиями для выполнения задач. Файл формируется при изменении задачи и
                            загружается при запуске ALEPIZ. По умолчанию taskConditions.json.
