//
    Copyright © 2022. Alexander Belov. Contacts: <asbel@alepiz.com>
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Настройки системы хранения конфигурации SQLIte.json
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Описание настроек системы хранения конфигурации SQLIte.json
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 Описание
                    p.
                        База данных db.db, на основе встраиваемой СУБД SQLite, используется для хранения конфигурации
                        ALEPIZ, которая создается для обслуживания инфраструктуры. Например, там хранятся данные об
                        объектах, свойствах объектов, счетчиках,
                        подключениях счетчиков к объектам, задачах, пользователях, правах пользователей и т.д.

                        Обычно обращение к базе данных происходит через файловые операции. Это повышает надежность,
                        скорость и исключает блокировки при одновременной подаче транзакций.
                        При необходимости удаленных интеграций с БД, можно использовать сервер БД, встроенный в ALEPIZ.
                    h3 Структура БД
                    p Список таблиц БД и краткое описание
                    ul.browser-default
                        li actionsConfig - хранение пользовательских настроек Веб интерфейса для действий
                        li auditUsers - соответствие пользователей, сессий и выполняемых действий для аудита
                        li counterParameters - параметры коллекторов, которые подключены к счетчикам
                        li counters - параметры счетчиков
                        li countersGroups - группы счетчиков
                        li countersUnits - единицы измерения данных и алгоритмы их преобразований
                        li countersUpdateEvents - настройки событий для обновления связанных счетчиков
                        li interactions - настройки взаимодействий объектов в списке объектов в пользовательском интерфейсе
                        li objects - параметры объектов
                        li objectsCounters - взаимосвязи счетчиков и объектов
                        li objectsProperties - свойства объектов
                        li rightsForActions - пользовательские права на действия
                        li rightsForObjects - пользовательские права на объекты
                        li roles - роли пользователей
                        li tasks - параметры задач
                        li tasksActions - действия, используемые в задачах
                        li tasksGroups - группы задач
                        li tasksGroupsRoles - пользовательские права на группы задач
                        li tasksParameters - параметры задач
                        li tasksRunConditions - условия для выполнения задач
                        li tasksRunConditionsOCIDs - id задачи и object counter ID, от которого зависит условие ее запуска
                        li userCommunication - настройки средств связи с пользователями
                        li userCommunicationPriorities - настройки приоритетов средств связи с пользователями
                        li userCommunicationPriorityDescription - описание приоритетов для средств связи
                        li users - параметры пользователей
                        li usersRoles - соответствие пользователей и ролей
                        li variables - переменные для счетчиков, которые рассчитываются из исторических данных
                        li variablesExpressions - переменные для счетчиков, которые рассчитываются из других переменных


                    h3 Настройки
                    ul.browser-default
                        li path - Относительный путь до базы данных. Например, db/db.db.
                        li.
                            maxVariableNumber - максимальное количество переменных, которое можно использовать в
                            запросах. В запросах типа SELECT * FROM objects WHERE objects.id IN (1,2,3,4,5,15),
                            количество переменных (в скобках после IN) в SQLite ограничено значением, которое задается
                            при компиляции. Если превысить это значение, запрос завершится с ошибкой. Для того, чтобы
                            этого не происходило в функциях работы с БД встроена проверка на количество передаваемых
                            переменных, которое задается этим параметром. По умолчанию для ALEPIZ 99.
                        i #[a(href="https://www.sqlite.org/limits.html" target="_blank") https://www.sqlite.org/limits.html]

                        li.
                            directAccessToDBFile - (true|false) работать напрямую с файлом базы данных, без
                            использования сервера БД. Это рекомендованный режим работы. Он позволяет увеличить скорость
                            и уменьшить количество блокировок БД при записи данных.
                        li.
                            disableServer - (true|false) нужно ли запускать сервер БД, для обслуживания запросов.
                            Сервер запускается как отдельный поток и может использоваться для внешних интеграций
                            с ALEPIZ. Если внешних интеграций нет и параметр
                            directAccessToDBFile установлен в true, то сервер БД не нужен и его можно отключить.
                        li localAddress - IP адрес к которому будет привязан сервер БД. По умолчанию 127.0.0.1.
                        li serverAddress - IP адрес, к которому будут подключаться клиенты. По умолчанию 127.0.0.1.
                        li.
                            serverPort - TCP порт, который будет слушать сервер и к которому будут подключаться клиенты.
                            Например, 10200.
                        li.
                            dbChildrenNum - количество потоков для обслуживания запросов на получение информации из БД
                            на сервере БД. По умолчанию 0 - соответствует количеству ядер процессоров на сервере.
                            Для записи данных в БД всегда используется только один поток.
                        li.
                            sameTimeProcessedTransNum - количество одновременных запросов на запись данных в БД. Если
                            запросов становится больше, они становятся в очередь. По умолчанию 5
                        li.
                            sameTimeProcessedQueryNum- количество одновременных запросов на чтение данных из БД. Если
                            запросов становится больше, они становятся в очередь.
                            По умолчанию dbChildrenNum или, если dbChildrenNum = 0, то 10.
                        li options - опции для движка БД better-sqlite3
                        ul.browser-default
                            li verbose - (true|false) выводить в лог все SQL запросы. По умолчанию false.
                            li.
                                readonly - (true|false) работать в режиме только для чтения. В настоящий момент такой режим
                                поддерживается только движком БД и не поддерживается ALEPIZ. По
                                умолчанию false.
                            li.
                                fileMustExist - (true|false) если файла БД не существует, не создавать его и возвращать
                                ошибку. По умолчанию false. В случае ALEPIZ не имеет смысла.
                            li.
                                timeout - количество миллисекунд ожидания при выполнении запросов к заблокированной базе
                                данных, прежде чем выдать ошибку SQLITE_BUSY. По умолчанию: 5000.

