//
    Copyright © 2022. Alexander Belov. Contacts: <asbel@alepiz.com>
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Настройки сервера отладки счетчиков debugServer.json
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Описание настроек сервера отладки счетчиков debugServer
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 Описание
                    p.
                        Сервер отладки запускается как отдельный поток и по сети принимает отладочные данные от потоков
                        серверов обслуживания счетчиков. Для того, чтобы данные по счетчику стали передаваться в сервер
                        отладки, необходимо в действии Counter settings на счетчике включить флажок "Enable debug".
                        Счетчики, передающие отладочную информацию можно посмотреть нажав на ссылку "Enable debug"
                        в действии Counter settings. Если в появившемся списке нажать на счетчик, откроется действие
                        Counter settings для выбранного счетчика. Посмотреть отладочную информацию по счетчику можно с
                        помощью действия Variables, у которого есть своя страница помощи.
                    p.
                        Сбор отладочной информации требует повышенного использования ресурсов и может помешать
                        работе системы. Поэтому на нагруженных системах желательно избегать использования этой
                        функции. Для отладки функционирования системы лучше использовать тестовое окружение.
                        Если по какой-то причине избежать использования функции невозможно, необходимо ограничить
                        количество счетчиков, с которых собирается отладочная информация.
                        Количество счетчиков, которые одновременно будут передавать отладочную информацию, ограничено
                        десятью.
                    h3 Настройки
                    ul.browser-default
                        li.
                           disable (true|false) - с помощью этой настройки можно отключить подключение и передачу данных
                           к серверу отладки.
                           Сам сервер будет запущен. Можно включать или выключать подключение и передачу данных меняя
                           значение этого параметра без перезапуска ALEPIZ. По умолчанию false.
                        li.
                            alwaysDisable (true|false) - с помощью этой настройки можно запретить запуск сервера отладки
                            во время старта ALEPIZ. Для запуска сервера отладки необходим рестарт ALEPIZ.
                            По умолчанию false.
                        li localAddress - IP адрес к которому будет привязан сервер отладки. Обычно 127.0.0.1.
                        li.
                            serverAddress - IP адрес, к которому будут подключаться потоки обслуживания счетчиков
                            для передачи данных об отладке.
                            Обычно 127.0.0.1.
                        li.
                            serverPort - TCP порт, который будет слушать сервер и к которому будут подключаться клиенты.
                            Обычно 10165.
                        li.
                            pushIntervalSec - интервал в секундах, с которым будут передаваться данные от потоков обслуживания
                            счетчиков в сервер отладки. По умолчанию 10
                        li.
                            dumpFile - имя файла для сохранения текущего состояния памяти сервера отладки при остановке
                            ALEPIZ. Файл находится в каталоге, указанном в настройке tempDir файла common.json.
                            По умолчанию counterDebugger.json.
                        li.
                            logSize - количество данных для каждой переменной счетчика, которое будет храниться в памяти
                            сервера отладки. По умолчанию 10
                        //ul.browser-default
                            li.
                                &lt;tag&gt; - тэг для логирования. Пока используется только один тэг "v". Правится в коде
                            ul.browser-default
                                li.
                                    size - количество данных для каждой переменной счетчика, которое будет храниться в памяти
                                    сервера отладки. Если указано, переопределяет параметр logSize