//
  Created by Alexander Belov on 26.04.2020.
   Copyright (C) 2020. Alexander Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Ping: check host availability over the network
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Ping
                    h5.light.
                        Ping is used to check host availability over the network.
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 What is Ping for?
                    p.
                        With Ping, you can organize a host network access check using ICMP. It is also possible to
                        measure parameters such as packet loss percentage and packet round trip time (RTT). IPv4 and
                        IPv6 are supported.
                    p.
                        The collector uses its own implementation of the Ping protocol. In case of packet loss, it
                        additionally runs an external ping program to check the received values.
                    h3 Parameters
                    ul.browser-default
                        li Target host name, IPv4 or IPv6 address (host) - name or IP address of the remote host
                        li.
                            Ping interval is a time between echo requests packets in seconds (pingInterval) -
                            interval between sent packets in seconds
                        li.
                            Size of echo request packet (IP header + ICMP) in bytes from 48 to 4096 (packetSize) -
                            packet size in bytes
                        li.
                            Number of echo requests to send. 0 is infinite (packetsCnt) - number of packets sent.
                            0 - infinitely
                        li.
                            The packet wait timeout in a second, after which packet loss will be detected.
                            Mast be greater then ping interval (timeout) - the timeout in seconds for the packet to
                    h3 Settings
                    p.
                        The collector settings are stored in the settings.json file
                    ul.browser-default
                        li.
                            dontUseExternalPing - Do not use an external ping program to check the operation of the
                            collector. An external program is run to check that the collector is working correctly
                            if a packet is lost. In addition, when a packet is lost by the collector, the collector
                            process is restarted. Packet loss is only detected if the external program confirms
                            the packet loss. In high loaded systems, the launch of an external program may take a
                            long time and monitoring will not work correctly. Disabling the use of an external
                            program allows you to fix all packet losses and disables the restart of the collector.
                    h3 Return value
                    p The packet round trip time in milliseconds (RTT), or 0 if the host did not respond.

