//
    Copyright © 2022. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 04.09.2022, 22:55:38
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Interface editor: кастомизация пользовательского интерфейса
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov <asbel@alepiz.com>")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Interface editor
                    h5.light.
                        Позволяет выполнить настройки интерфейса для текущего пользователя

        main
            div.row
                div.col.s12.m10.offset-m1
                    img(src="./images/help.main.png" width="1024").materialboxed.card-panel.hoverable

                    h2 Описание Interface editor
                    p.
                        Interface editor позволяет выполнить настройки пользовательского интерфейса ALEPIZ для текущего
                        пользователя. Настройки производятся с помощью задания параметров через настроечный формат JSON.
                        Можно настроить расположение меню действий, ссылки в навигационной панели, фильтры объектов,
                        которые необходимо применять при перезагрузку страницы и группировку объектов.

                    h5.
                        Возвращаемое значение: новая пользовательская конфигурация в формате JSON

                    h2 Описание интерфейса
                    h3 Вкладки
                    ul.browser-default
                        li.
                            CONFIG - В этой вкладке создается пользовательская конфигурация интерфейса
                        li.
                            ACTIONS - Глобальные настройки расположения действий в списке действий без
                            возможности редактирования
                        li.
                            QUIK LINKS - Глобальные настройки для ссылок в навигационной панели без
                            возможности редактирования
                        li.
                            OBJECT GROUPS - Глобальные настройки группировки объектов действий без
                            возможности редактирования
                    h3 Описание процесса настройки
                    p.
                        Все действия по настройке производятся во вкладке CONFIG. Остальные вкладки являются
                        информационными и служат для подсказки. С помощью них можно понять, как сделаны глобальные
                        настройки интерфейса ALEPIZ.
                    p.
                        Для настройки интерфейса необходимо подготовить объект JSON, содержащий объекты:
                    ul.browser-default
                        li.
                            themeColor - цвет темы в формате HTML, например "#cccccc". Основные элементы будут
                            иметь этот цвет. Если установленно 'random', при каждой перезагрузке странице будет
                            генерироваться новый цвет темы
                        li navbarLinks - объект с настройками ссылок в навигационной строке
                        li objectGroups - объект с настройками алгоритмов группировки файлов
                        li objectFilter - объект с описанием, какие фильтры необходимо использовать при загрузке страницы
                        li actionsLayout - объект с описанием расположения действий в списке
                    h4 Настройки ссылок в навигационной строке
                    p.
                        Если присутствует объект "navbarLinks", то глобальные настройки ссылок будут игнорированы и ссылки
                        будут отображаться, как указано в данном объекте. В случае, если объект пустой, ссылок не будет.
                        Информацию о настройке ссылок можно прочитать в разделе
                        #[a(href="/help/settingsNavBarLinks.pug") Настройки ссылок navBarLinks.json].
                    h4 Настройки алгоритмов группировки файлов
                    p.
                        Настройки алгоритмов группировки объектов должны находится в массиве с объектами
                        "objectGroups" и
                        активируются при нажатии на кнопку #[i.blue-text.material-icons.small group].
                        Если пользовательские настройки отсутствует, используются глобальные настройки.
                        Если пользовательские настройки
                        существуют, группировка объектов осуществляется путем слияния алгоритмов для
                        глобальных и пользовательских настроек группировки.
                        Если присутствует настройка группировки с одинаковым именем в
                        пользовательских и в глобальных настройках, выбирается пользовательская настройка.
                        Информацию о настройке группировки объектов можно прочитать в разделе
                        #[a(href="/help/settingsObjectGroups.pug") Настройки группировки objectGroup.json].
                    h4 Описание использования фильтров по умолчанию
                    p.
                        Описание, какие фильтры объектов необходимо использовать по умолчанию при загрузке
                        страницы находится в массиве "objectFilter". Элементами этого массива являются названия
                        фильтров (можно посмотреть в списке FILTERS) и логическими операторами "AND" или "OR".
                        Например ["Production servers", "AND", "Test services", "OR", "Development servers"].
                        Приоритет у оператора "OR" выше чем у оператора "AND".
                    h4 Настройки расположения действий
                    p.
                        Если присутствует объект "actionsLayout", действия в списке будут располагаться в соответствии с
                        настройками в этом объекте. Если действия в пользовательских настройках не найдено, оно будет
                        отображаться в соответствии с глобальными настройками действий. Если одно действие присутствует
                        пользовательских и глобальных настройках, оно будет отображаться в соответствии с
                        пользовательскими настройками.
                        Информацию о настройке списка действий можно прочитать в разделе
                        #[a(href="/help/settingsActions.pug#bookmark2") Настройки сервера выполнения действий actions.json] в
                        разделе "Настройка сервера действий", пункт "layout".
                    ul.collapsible
                        li
                            div.collapsible-header #[i.material-icons settings] Пример настроек (нажмите для того, чтобы развернуть)
                            div.collapsible-body
                                pre.
                                    {
                                        "themeColor": "#cccccc",
                                        "actionsLayout": {
                                            "Administration": {
                                                "send_message": {}
                                            },
                                            "Configuration": {
                                                "events_editor": {}
                                            }
                                        },
                                        "objectFilter": [
                                            "Production servers",
                                            "AND",
                                            "Test services",
                                            "OR",
                                            "Development servers"
                                        ],
                                        "objectGroups": [
                                            {
                                                "name": "ALEPIZ services",
                                                "re": "ALEPIZ",
                                                "description": "ALEPIZ service list",
                                                "color": "red",
                                                "sortPosition": 10
                                            }
                                        ],
                                        "navbarLinks": [
                                            {
                                                "name": "Servers",
                                                "parentObjects": [
                                                    "Servers"
                                                ]
                                            }
                                        ]
                                    }