//
  Created by Alexander Belov on 21.04.2015.
   Copyright (C) 2018. Alexander Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        title= action.name
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        link(rel='stylesheet', href='/stylesheets/actions.css')
        style.
            /* default width for chips with autocomplete is 120px */
            .autocomplete-content {
                width: auto !important;
            }
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        script(src='/jquery/jquery.min.js')
        script(src='/jquery-ui/jquery-ui.min.js')
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/escapeHTML.js')
        script(src='/javascripts/colorPicker.js')
        script(src='/javascripts/alepizIDPicker.js')
        script.
            var parameters = {
                action: !{JSON.stringify(action)},
                objects: !{JSON.stringify(objects)}
            };
    body
    main
        div.row
            div.col.s12
                //h2= action.name
                //p.right-align= action.description
        div.row
            div.col.s12
                script(src='/javascripts/objectsSelector.js')
                script(src= action.link + '/' + action.staticDir + '/' + 'client.js')
                div.row
                    div.col.s12
                        div.card
                            div.card-content
                                span.card-title Object list
                                h6#objectsNames
                        div.card
                            div.card-content
                                span.card-title Object parameters
                                div.row
                                    div#objectsREField.input-field.col.s12.m5.l3
                                        input(type='text' data-tooltip="Rename all selected objects according to the regular expression" value="^(.*)$")#objectsRE.tooltipped
                                        label(for='objectsRE') RegExp for batch rename
                                    div.input-field.col.s12.m5.l7
                                        input(type='hidden')#rulesForRenameObjects
                                        input(type='text' data-tooltip="The second part of the regular expression for batch renaming of objects or a new object name")#newObjectsNames.tooltipped
                                        label(for='newObjectsNames') New object name
                                    div.input-field.col.s12.m2.l2
                                        label
                                            input(type='checkbox' value="1")#disabledCB
                                            span(data-tooltip="Prohibit data collection for objects").tooltipped Disable
                                        input(type='hidden')#disabled
                                    div.input-field.col.s12.m8.l8
                                        input(type='text' length="256" data-tooltip="Description for all selected objects")#objectsDescription.validate.tooltipped
                                        label(for='objectsDescription') Description
                                    div.input-field.col.s12.m4.l4
                                        select#objectsOrder
                                            option(value="10") On top of the list
                                            option(value="30") Between middle and top
                                            option(value="50") At the middle of the list
                                            option(value="70") Between middle and end
                                            option(value="100") At the end of the list
                                            option(value="1") On top and at up level
                                            option(value="5") At the middle and at up level
                                            option(value="9") At the end and at up level
                                            option(value="0" selected) Current objects order will be unchanged
                                        label Order in a objects list
                                div.no-margin.no-padding.row
                                    div.input-field.col.s12.m6.l3#colorPickerParent
                                    div.input-field.col.s12.m6.l3#shadePickerParent
                                    div(style="position:relative").input-field.col.s12.m6.l3
                                        label.drop-down-label Example of object coloring
                                        label
                                            input(type='checkbox')
                                            span
                                        div(style="padding: 12px 0 4px 32px" data-tooltip="This is how the color of the object in the list of objects will look like").tooltipped.black-text.col.s11.truncate#colorSample OBJECT NAME
                                    div.input-field.col.s12.m6.l3#alepizIDPickerParent

                        div.card
                            div.card-content
                                span.card-title Shared counters for selected objects
                                // set linkedCountersIDs to 0 in task for disable counter linkage operations
                                input(type="hidden")#linkedCounterIDs
                                input(type="hidden")#linkedCounterIDsAdd
                                input(type="hidden")#linkedCounterIDsDel
                                input(type="hidden")#linkedCounterNames
                                div.chips#linkedCounters
                input(type="hidden")#renamedObjectsNames

                div#modalRenameConfirm.modal
                    div.modal-content
                        h4 Rename confirmation
                        p Do you really want to rename selected objects according this scheme?
                        p#renamedObjectsNamesInModal
                    div.modal-footer
                        a(href='#!')#modalRenameConfirmYes.modal-action.modal-close.waves-effect.waves-green.btn-flat Yes
                        a(href='#!')#modalRenameConfirmNo.modal-action.modal-close.waves-effect.waves-green.btn-flat No


    footer
        input(type="hidden" name="actionName" value= action.name)