//
  Created by asbel on 21.04.2015.
   Copyright (C) 2018. Alexandr Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml")
    head
        title= action.name
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        //link(rel='stylesheet', href='/stylesheets/actions.css')
        style.
            /* default width for chips with autocomplete is 120px */
            .autocomplete-content {
                width: auto !important;
            }
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        script(src='/jquery/jquery.min.js')
        script(src='/jquery-ui/jquery-ui.min.js')
        script(src='/materialize-css/dist/js/materialize.js')
        script.
            var parameters = {
                action: !{JSON.stringify(action)},
                objects: !{JSON.stringify(objects)}
            };

            var entityMap = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#39;',
                '/': '&#x2F;',
                '`': '&#x60;',
                '=': '&#x3D;'
            };

            function escapeHtml(string) {
                return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                    return entityMap[s];
                });
            }
    body
    main
        div.row
            div.col.s12
                //h2= action.name
                //p.right-align= action.description
        div.row
            div.col.s12
                script(src='/javascripts/objectsSelector.js')
                script(src= action.link + '/' + action.staticDir + '/' + 'client.js')
                div.row
                    div.col.s12
                        div.card
                            div.card-content
                                span.card-title Objects list to edit
                                p Select objects to edit. For all of this objects you can change names, descriptions and sort order by feeling appropriated fields
                                p Objects list:&nbsp;
                                    span#objectsNames
                        div.card
                            div.card-content
                                span.card-title Objects parameters
                                p Set objects disabled for prevent collecting data from objects counters
                                p#batchRenameHelp For batch renaming objects you can set case insensitive regular expression with global searching (//ig) for describe current names for selected objects and new objects names with regular expression variables, like $1,$2 etc. For example for rename single any object name to other name you can set as regular expression ".*" and as object name a new object name, which you want. For rename "server1, server2, server3" to "host1, host2, host3" you can set as regular expression "server(\d)" and as object name "host$1". Before execute renaming you will see confirmation dialog with old and new objects names and can refuse renaming. Please read about Javascript replace function for more information
                                p If you feel object description field, then all selected objects take a new equal description. If description field is empty, the objects description will be unchanged.
                                p If you select a sort order, then all of objects take a new sort order. For set sort order unchanged, select "Current objects order will be unchanged".
                                div.row
                                    div#objectsREField.input-field.col.s12.m6.l3
                                        input(type='text' data-tooltip="Regular expression for setting rename rules for selected objects" value="^(.*)$")#objectsRE.tooltipped
                                        label(for='objectsRE') Regular expression for objects batch rename
                                    div.input-field.col.s12.m12.l7
                                        input(type='hidden')#rulesForRenameObjects
                                        input(type='text' data-tooltip="Feeling this field will rename all selected objects according regular expression or set a new name")#newObjectsNames.tooltipped
                                        label(for='newObjectsNames') New object name
                                    div.input-field.col.s12.m6.l2
                                        label
                                            input(type='checkbox' value="1")#disabled
                                            span(data-tooltip="Prevent to collect data by object counters").tooltipped Disable objects
                                    div.input-field.col.s12.m6.l8
                                        input(type='text' length="256" data-tooltip="Feeling this field will set equal description for all selected objects")#objectsDescription.validate.tooltipped
                                        label(for='objectsDescription') Description for objects
                                    div.input-field.col.s12.m6.l4
                                        select#objectsOrder
                                            option(value="10") On top of the list
                                            option(value="30") Between middle and top
                                            option(value="50") At the middle of the list
                                            option(value="70") Between middle and end
                                            option(value="100") At the end of the list
                                            option(value="1") On top and at up level
                                            option(value="5") At the middle and at up level
                                            option(value="9") At the end and at up level
                                            option(value="0" selected) Current objects order will be unchanged
                                        label Order in a objects menu for all selected objects
                        div.card
                            div.card-content
                                span.card-title Shared to selected objects linked counters
                                p You can add a new counter link by entering counter name or remove unnecessary counter links from objects.
                                p &nbsp;
                                input(type="hidden")#linkedCoutersIDs
                                div.chips#linkedCounters
                input(type="hidden")#renamedObjectsNames

                div#modalRenameConfirm.modal
                    div.modal-content
                        h4 Rename confirmation
                        p Do you really want to rename selected objects according this scheme?
                        p#renamedObjectsNamesInModal
                    div.modal-footer
                        a(href='#!')#modalRenameConfirmYes.modal-action.modal-close.waves-effect.waves-green.btn-flat Yes
                        a(href='#!')#modalRenameConfirmNo.modal-action.modal-close.waves-effect.waves-green.btn-flat No


    footer
        input(type="hidden" name="actionName" value= action.name)
