//
  Created by Alexander Belov on 25.04.2020.
   Copyright (C) 2020. Alexander Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Users editor: создание, удаление и редактирование пользователей для доступа к системе
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Users editor
                    h5.light.
                        Users editor позволяет создать нового или отредактировать существующие данные пользователей
                        системы
        main
            div.row
                div.col.s12.m10.offset-m1
                    img(src="./images/help.main.png" width="1024").materialboxed.card-panel.hoverable
                    h5.
                        Возвращаемое значение: нет

                    h3 Описание интерфейса
                    p.
                        Сверху находятся элементы для ввода или изменения данных о пользователе.
                    ol
                        li User name - имя пользователя, которое будет вводиться для входа в систему
                        li Full user name or user description - Полное имя пользователя или описание, если это технический пользователь
                        li User password и Confirm password - поля для ввода и подтверждения пароля
                        li User roles - выбор ролей пользователя для получения необходимых прав в системе
                    p.
                        Далее расположены настройки средств связи с пользователем. Для каждого средства связи
                        используется два поля:
                    ol
                        li.
                            Адрес по которому можно связаться с пользователем, используя данное средство
                            связи. Например, это может быть email, номер телефона и так далее.
                        li.
                            Приоритет устанавливает в каких случаях стоит использовать данные средство связи. Например,
                            можно настроить, чтобы при событиях с низкой важностью в качестве средства связи
                            использовалась электронная почта, а при событиях с высокой важностью пользователю
                            отправлялись СМС.
                    p.
                        Ниже находится список пользователей. Первая строка "NEW USER" используется для заведения
                        нового пользователя. При выборе остальных строк в поля
                        загружается информация  пользователе, которую можно отредактировать. Удалить пользователя
                        можно с помощью "x". Системного пользователя (обычно с именем SYSTEM) удалить нельзя. От его
                        имени производится автоматический запуск задач.

                    h4 Список ролей пользователей, установленный по умолчанию
                    ol
                        li Administrators - роль с полными правами
                        li.
                            Business - роль с правами на просмотр объектов и создание задач, которые в дальнейшем может
                            выполнить Administrator
                        li Watcher - роль с правами на просмотр объектов
                        li Guest - отсутствуют какие либо права. Пользователь без авторизации получает права этой роли.

                    h4 Список пользователей, установленный по умолчанию
                    p.
                        По умолчанию в системе присутствуют пользователи admin (роль Administrators),
                        business (роль Business), guest (роль Guest), system (роль Administrators) и watcher (роль Watcher).
                        Пароли для admin, business и watcher установлены такие же, как и имена пользователей.
                        После первого запуска системы администратору необходимо поменять пароли для пользователей,
                        либо удалить их из системы.
                    p.
                        Для пользователей guest и system пароли отсутствуют. Это означает, что вход в систему под этими
                        аккаунтами невозможен.

