//
  Created by asbel on 18.04.2020.
   Copyright (C) 2020. Alexandr Belov. Contacts: <asbel@alepiz.com>

doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Counter settings: создание или редактирование счетчиков. Подробное описание счетчиков
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov &lt;asbel@alepiz.com&gt")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Counter settings
                    h5.light.
                        С помощью Counter settings можно редактировать или создавать счетчики.
        main
            div.row
                div.col.s10.m10.offset-m1
                    img(src="./images/help.main.png" width="1024").materialboxed.card-panel.hoverable

                    h2 Предназначение Counter settings
                    p.
                        Counter settings предназначен для создания новых или редактирования текущих счетчиков и
                        подключения счетчиков к объектам.
                        Счетчик предназначен для сбора или генерации информации, которая может быть сохранена в базу
                        данных и обработана. Например, счетчиком может быть система сбора информации о свободной памяти на сервере,
                        система сбора информации о статусе дисков в RAID контроллере, система генерации событий при
                        превышении счетчиком порогового значения, система поиска новых объектов в сети и так далее.

                    h5 Возвращаемое значение: counterID (идентификатор в базе данных нового или редактируемого счетчика)

                    h3 COUNTER
                    p.
                        Вкладка COUNTER позволяет настроить основные параметры счетчика, такие как имя, группу,
                        используемый сборщик, параметры сборщика, параметры сохранения и хранения собранной
                        информации в базу данных.
                    img(src="./images/help.counters.png" width="1024").materialboxed.card-panel.hoverable

                    h4 Filter counter by group
                    p.
                        Позволяет отфильтровать счетчики, выбрав определенную группу. Если объект задан, по умолчанию
                        выбрана All groups, что означает показывать все счетчики для выбранного или выбранных объектов.
                        Если объект не задан, возможности посмотреть все счетчики нет и нужно выбрать группу, в которой
                        находится требуемый счетчик.

                    h4 Counters selector
                    p.
                        Позволяет выбрать требуемый счетчик из списка. Если необходимо создать новый счетчик,
                        выберите New counter. При необходимости скопировать часть настроек существующего счетчика в новый счетчик,
                        нужно выбрать счетчик, с которого необходимо скопировать настройки, а потом выбрать New counter.
                        Все настройки, кроме имени предварительно выбранного счетчика, сохранятся в соответствующих полях

                    h4 Filter counters by objects
                    img(src="./images/help.objectFilter.png").materialboxed.card-panel.hoverable
                    p.
                        Если в Filter counters by objects есть какой-то объект или объекты, в Counters selector будут
                        показаны счетчики, подключенные
                        к объектам из этого элемента. Если в системном меню Objects выбрать объекты, а затем запустить
                        Counter settings, выбранные объекты появятся в поле Filter counters by objects.
                        При необходимости можно добавить объекты в поле Filter counters by objects. Для этого нужно
                        выбрать объекты в системном меню Objects и нажать на ADD SELECTED OBJECTS.
                        Если нажать на крестик справа от объекта в поле Filter counters by objects, объект
                        будет удален. Удалить все объекты из Filter counters by objects можно нажав на REMOVE ALL OBJECTS.

                    h4 Disable
                    p Если стоит этот признак, то сбор данных по выбранному счетчику производиться не будет.
                    img(src="./images/help.disableDebugDelete.png").materialboxed.card-panel.hoverable

                    h4 Enable debug
                    p.
                        Enable debug позволяет собирать отладочную информацию о вычислениях переменных по данному счетчику.
                        Собранную информацию можно посмотреть в действии #[a(href="/actions/variables/help/") Variables].
                        По отладочной информации можно посмотреть каким образом вычисляются переменные счетчика.
                        Включение сбора отладочной информации может значительно
                        увеличить нагрузку на систему, что приведет к задержкам в
                        сборе информации. Сбор отладочной информации можно устанавливать не более чем на 10 счетчиков.
                        Желательно отказаться от сбора отладочной информации в системе, обслуживающей реальную инфраструктуру.

                    h4 Condition for task
                    p.
                        Позволяет использовать счетчик в качестве условия для выполнения задачи. Для этого с помощью действия
                        #[a(href="/actions/task_maker/help/") Task maker] необходимо задать соответствующее условие
                        для задачи. При выполнении условия, то есть когда счетчик будет запущен, задача выполнится.

                    h4 Delete counter
                    p.
                        Счетчик будет удален, все связи будут разрушены. Если переменные в других счетчиков зависят от
                        удаляемого счетчика, их расчет не будет производится. Поэтому, в результате разрушения связей,
                        возможна некорректная работа других счетчиков.
                        При удалении счетчика появится окно с подтверждением действия.
                    img(src="./images/help.counterDeleteConfirmation.png").materialboxed.card-panel.hoverable

                    h4 Counter name
                    p.
                        Поле служит для ввода нового или изменения текущего имени счетчика. Будьте внимательными при
                        изменении имени счетчика. Переменные ссылаются на счетчики не по идентификатору, а по его имени. Это
                        сделано для того, чтобы счетчик, подключенный к разным объектам, мог ссылаться на разные счетчики
                        с одинаковыми именами. При смене имени счетчика необходимо поправить имена всех счетчиков на
                        которые ссылаются переменные. При смене имени счетчика появится подсказка, где буду указаны все
                        ссылки на имя счетчика.

                    h4 Counter group
                    p.
                        Поле для ввода или изменения группы у счетчика. Группировка служит для удобства поиска и
                        фильтрации счетчиков. Группа с идентификатором 0 и названием "Conditions for Tasks" служит
                        для счетчиков, возвращаемое значение которых можно использовать в условии для выполнения задач.

                    h4 Кнопка для редактирования групп счетчиков
                    p.
                        С помощью кнопки [#[img(src="./images/help.editButton.png")]]
                        можно отредактировать название группы счетчиков, добавить новую группу, удалить группу,
                        установить группу по умолчанию
                    ol
                        li.
                            Add new group (and enter name of the new group bellow) - Добавить новую группу.
                            Для этого нужно ввести имя новой группы в поле ввода New group name
                        li.
                            Edit selected group name (and enter new name of the group bellow) - Отредактировать
                            выбранное имя группы.
                            Для этого нужно ввести новое имя группы в поле ввода New group name
                        li.
                            Set selected group as initial in the group selector - установить выбранную группу как
                            группу по умолчанию для Counter group. При создании нового счетчика будет выбираться эта группа.
                        li.
                            Remove selected group with all counters included in this group - Удалить выбранную группу
                            и все счетчики, которые входят в эту группу. Все счетчики, входящие в эту группу,
                            будут удалены. Группу "Conditions for Tasks" с идентификатором 0 удалить нельзя.

                    img(src="./images/help.groupEditor.png").materialboxed.card-panel.hoverable

                    h4 Collector type
                    p.
                        Позволяет выбрать сборщик, который будет собирать или генерировать данные для счетчика.
                        Например, если вы хотите собирать данные по SNMP, можно выбрать сборщик SNMP.
                        Если необходимо проверить сетевую доступность хоста, можно выбрать сборщик Ping.
                        При необходимости можно разработать свой сборщик. После выбора сборщика необходимо установить
                        его параметры.
                    img(src="./images/help.chooseCollector.png").materialboxed.card-panel.hoverable

                    h4 Параметры сборщика
                    p.
                        В зависимости от выбранного сборщика необходимо установить его параметры. Для каждого
                        сборщика параметры будут разные. Например, для сборщика Ping параметрами могут быть имя или
                        IP адрес удаленного хоста, интервал отправки
                        пакетов, размер пакета, количество отправленных пакетов, временной интервал ожидания пакета,
                        пока он не будет помечен как потерянный пакет. В качестве параметров сборщика или части
                        параметра могут выступать переменные. Например, можно создать описание для события о том, что
                        на сервере недостаточно оперативной памяти, включив в него переменные, значением которых
                        является информация об объеме оставшейся памяти на сервере:
                        "Free memory is %:HUMAN_FREE_MEMORY:%. Threshold %:HUMAN_FREE_MEMORY_LIMIT:%"
                    p.
                        Для получения помощи по параметрам выбранного сборщика необходимо нажать на иконку с "?" в правом
                        верхнем углу.
                    img(src="./images/help.collectorParametersPing.png" width="1024").materialboxed.card-panel.hoverable

                    h4 Units
                    p.
                        Единицы измерения для данных, полученных с помощью сборщиков. Для каждого счетчика можно
                        установить единицу измерения, в которой будут получены данные. Например это могут быть
                        Time, Bytes, Bits и другие. Корректность отображения данных зависит от выбранной единицы
                        измерения для полученных данных.

                    h4 Кнопка для редактирования единиц измерения
                    p.
                        С помощью кнопки [#[img(src="./images/help.editButton.png")]] можно отредактировать или добавить
                        новую единицу измерения. При нажатии на кнопку появится диалог редактирования.
                    ol
                        li.
                            Add new UNIT (and enter parameters of the new unit bellow) - Добавить новую единицу
                            измерения. При добавлении новой единицы измерения необходимо ввести ее параметры
                        li.
                            Edit selected unit name (and enter parameters of the unit bellow)- Изменить единицу
                            измерения. При изменении единицы измерения необходимо ввести ее параметры

                        li.
                            Remove selected unit and counters, has this unit - Удалить выбранную единицу измерения
                            и все счетчики, которые ее используют. Все счетчики, которые используют эту единицу измерения,
                            будут так же удалены.
                        li Параметры для новой или редактируемой единицы измерения:
                            ol
                                li.
                                    Abbreviation - аббревиатура единицы измерения, например % (проценты), B (байты),
                                    sec (секунды) и так далее
                                li.
                                    Prefixes - Префиксы единицы измерения, которые будут добавляться перед аббревиатурой или
                                    будут использоваться самостоятельно. Префиксы необходим ввести через запятую. Например,
                                    для Bytes это могут быть K,M,G,T, что в сочетании с аббревиатурой "B" даст KB,MB,GB,TB
                                li.
                                    Multipliers for each prefix - множители для каждого префикса. Количество множителей
                                    должно быть такое же, как и количество префиксов. Например, для единицы измерения
                                    Bytes и для префиксов K,M,G,T, множители могут быть
                                    1024,1048576,1073741824,1099511627776. А для
                                    единицы измерения Тime и для префиксов ns,μs,ms,min,hours,days,weeks,months,years
                                    множители могут быть 0.000000001,0.000001,0.001,60,3600,86400,604800,2592000,31536000
                                li.
                                    Use prefix without abbreviation in name when multiply (f.e. for time) - если
                                    установлен этот признак, то при отображении единицы измерения, будет показан только
                                    префикс без аббревиатуры. Например, это актуально для единицы измерения - Time,
                                    где к базовой аббревиатуре sec добавлять самостоятельные префиксы
                                    ns,μs,ms,min,hours,days,weeks,months,years не нужно.

                    img(src="./images/help.unitsEditor.png").materialboxed.card-panel.hoverable

                    h4 Multiplier (depending of units)
                    p.
                        В зависимости от выбранной единицы измерения можно выбрать базовый множитель, для приведения
                        данных к стандарту. Например, сборщик Ping возвращает данные о времени прохождения пакетов
                        в миллисекундах. В этом случае необходимо выбрать ms в качестве базового множителя, для
                        приведения данных к стандартному sec.

                    h4 Keep history (days)
                    p.
                        Сохранять исторические данные в течение указанного количества дней. Данные,
                        собранные позже указанного количества дней, будут удаляться для сохранения дискового пространства.
                        Вместе с данными будут удаляться те тренды, время усреднения для которых установлено менее
                        одного часа.

                    h4 Keep trends (days)
                    p.
                        Сохранять тренды в течение указанного количества дней. Тренды, собранные позже указанного
                        количества дней, будут удаляться для сохранения дискового пространства. Параметр влияет только
                        на тренды с временем усреднения в один час или более.

                    img(src="./images/help.unitsAndKeeps.png" width="1024").materialboxed.card-panel.hoverable

                    h4 Description
                    p.
                        Пояснение к счетчику, переменным счетчика, событиям обновления и так далее. Служит для
                        помощи в понимании назначения счетчика, его переменных и параметров.

                    h3 LINKS
                    p.
                        Вкладка LINKS позволяет настроить подключение счетчика к объектам, с которых необходимо собирать
                        информацию. Кроме того, в этой вкладке настраиваются зависимости счетчика от родительских
                        счетчиков, благодаря которым будет запускаться сбор или генерация информации.
                    img(src="./images/help.links.png" width="1024").materialboxed.card-panel.hoverable

                    h4 Update event
                    p.
                        Элемент служит для настройки событий, при наступлении которых будет происходить сбор данных по счетчику.
                        Если для счетчика событие Update event не настроено, ALEPIZ запустит сбор данных для него во
                        время запуска сервера или перезапуска. Если событие настроено, то при запуске сервера сбор
                        данных осуществляться не будет.
                    p.
                        Для счетчиков, которые собирают данные с помощью активных сборщиков, обычно ничего настраивать н нужно.
                        Эти сборщики самостоятельно собирают данные в зависимости от заложенных в них алгоритмов.
                        Инициализация активных счетчиков происходит один раз при старте сервера.
                        Например, сборщик Ping будет собирать данные с периодичностью, указанной в параметре Ping interval
                        Запуск сборщика происходит один раз при старте сервера, далее сборщик собирает данные самостоятельно.
                        Если для активных сборщиков установить событие, они будут инициализироваться каждый раз, когда
                        наступает указанное событие.
                    p.
                        Для пассивных счетчиков необходимо настроить событие, после которого будут собираться данные.
                        Иначе сбор данных будет происходить один раз после запуска сервера.
                        Событием может служить время активного счетчика Timer для периодического сбора данных раз в
                        какое-то время. Либо это может быть предельное значение какого либо счетчика, после которого
                        необходимо сгенерировать событие. Например, это может быть минимально допустимый объем
                        свободного дискового пространства.
                    p.
                        Может быть несколько событий, после которых будет происходить сбор данных по счетчику. Для создания
                        нового события служит кнопка "+" под событиями или вверху страницы.
                        Для удаления события служит "x" в правом верхнем углу
                        элемента с параметрами события. Знак "?" в правом верхнем углу выводит подсказку по функциям,
                        которые можно использовать для вычисления события
                    img(src="./images/help.updateEvents.png" width="1024").materialboxed.card-panel.hoverable

                    h3 Update event generated by...
                    p.
                        Перед созданием нового события необходимо определиться с объектом, к которому привязан родительский
                        счетчик и который будет его генерировать.
                        Если в системном меню Object не выбран ни один объект, событие будет сгенерировано
                        родительским счетчиком, привязанным к тому же объекту, к которому привязан данный счетчик.
                        В заголовке события в этом случае будет надпись "Update event generated by #[u this object]".
                        Если объект выбран, то событие будет сгенерировано родительским счетчиком, привязанным к
                        выбранному объекту и в заголовке события будет указан выбранный объект.

                    h4.
                        Regular expression for filtering dependent objects....
                    p.
                        Поле "Regular expression for filtering dependent objects by object names. You can use variables only
                        from parent object. Variables will be replaced by values." появляется только если выбран
                        конкретный объект, от событий которого зависит текущий счетчик.
                        Оно может служить для фильтрации зависимых от события объектов по их имени. Если в поле указано
                        регулярное выражение, то при вычислении зависимых от события объектов дополнительно будет
                        применен фильтр по имени объекта: если имя зависимого объекта не соответствует регулярному выражению,
                        сбор данных для этого объекта не будет производиться. При вычислении регулярного выражения будут
                        использованы флаги "i" (игнорирование регистра при сопоставлении) и "g"
                        (глобальное сопоставление). В регулярном выражении можно использовать только
                        переменные, значения которых было вычислено в родительских объектах. Переменные, вычисляемые во
                        вкладке VARIABLES или в свойствах зависимого объекта, не могут быть использованы для формирования
                        регулярного выражения, т.к. их вычисление происходит после определения необходимости сбора данных
                        по счетчику.

                    h4 Counter
                    p.
                        В данном поле выбирается счетчик объекта, от генерации значений которого будет зависеть текущий
                        счетчик. Например, при потере нескольких пакетов счетчика со сборщиком Ping, может быть
                        сгенерировано событие Packet loss, о котором придет уведомление администратору. Либо счетчик
                        Timer генерирует событие каждые 30 секунд, после которого будет производиться сбор данных
                        пассивными счетчиками, которые зависят от него.
                        Если рядом с родительским счетчиком присутствует надпись [NOT SHARED], значит есть объекты, к
                        которым привязан текущий счетчик и не привязан выбранный родительский счетчик. Для таких
                        объектов событие генерироваться не будет.

                    h4 Update mode
                    p.
                        Данный элемент позволяет выбрать режим, в котором будет происходить генерация событий для
                        вычисления значения зависимого счетчика. Изменять режим генерации событий имеет смысл только
                        если есть логическое выражение, от которого зависит событие.
                    img(src="./images/help.updateEventMode.png").materialboxed.card-panel.hoverable
                    ol
                        li.
                            Update each time when expression value is true - генерировать событие каждый раз, когда
                            логическое выражение возвращает значение true
                        li.
                            Update once when expression value is changed to true - генерировать событие один раз после
                            того, как логическое выражение изменило значение с false на true
                        li.
                            Update once when expression value is changed to true and once when changed to false -
                            генерировать событие один раз после того, как логическое выражение изменило значение с
                            false на true и один раз после того, как логическое выражение изменило значение с true на
                            false
                        li.
                            Update each time when expression value is changed to true and once when changed to false -
                            генерировать событие каждый после того, как логическое выражение возвращает значение
                            true и один раз после того, как логическое выражение изменило значение с true на
                            false
                        li.
                            Update once when expression value is changed to false - генерировать событие один раз после
                            того, как логическое выражение изменило значение с true на false

                    h4 Logical expression
                    p.
                        В зависимости от результата вычисления этого логического выражения и режима, установленного в
                        Update, mode будет происходить генерация события для вычисление значения счетчика. Если логическое
                        выражение отсутствует, то генерация события будет происходить каждый раз, когда родительский
                        счетчик вернет какое-либо значение. Правила формирования этого логического выражения такие же, как и
                        правила формирования логических выражений для вычисления переменных во вкладке VARIABLES.

                    h3 Object linked to a counter
                    p.
                        С помощью этого элемента можно подключить или отключить объекты от счетчика.
                        При необходимости подключить к счетчику новые объекты, выберите объекты в системном меню Objects
                        и нажмите на ADD SELECTED OBJECTS.
                        Если нажать на крестик справа от объекта в Object linked to a counter, связь счетчика с объектом
                        будет удалена. Отключить все объекты от счетчика можно нажав на REMOVE ALL OBJECTS.
                        Все объекты отсортированы по алфавиту. При большом количестве подключенных объектов, снизу элемента
                        появится навигация в виде номеров страниц.
                    img(src="./images/help.linkedObjects.png").materialboxed.card-panel.hoverable

                    h3 VARIABLES
                    p.
                        Переменные служат для:
                    ol
                        li.
                            Создания логического выражения с помощью которого будет принято решение о необходимости
                            вычисления значения зависимого счетчика
                        li.
                            Вычисления параметров сборщика. Например, можно установить переменную
                            %:ZABBIX_HOSTNAME:% для сбора данных с Zabbix агента и при необходимости переопределять ее
                            в свойствах каждого объекта через действие Object properties. Либо установить динамически
                             изменяемую важность события в зависимости от того, сколько осталось оперативной памяти
                             на сервере
                        li.
                            Динамического отображения данных о событии. То есть в сообщении о событии, как и в любой
                            другой параметр сборщика, можно включить переменные, например
                            "Idle disk time is %:MIN_IDLE_DISK_TIME:%%"
                        li.
                            Создания динамического текста, который будет произносится при наступлении события,
                            например "На %:OBJECT_NAME:% время простоя дисковой подсистемы составляет
                            %:MIN_IDLE_DISK_TIME:%%"
                    p.
                        Переменные записываются как %:<ИМЯ_ПЕРЕМЕННОЙ>:% или %:?<ИМЯ_ПЕРЕМЕННОЙ>:%.
                    ol
                        li.
                            Переменная, записанная в формате %:<ИМЯ_ПЕРЕМЕННОЙ>:%
                            означает, что для вычисления значения счетчика необходимо вычислить значение переменной. Если
                            значение такой переменной вычислить не удается, вычисление значения счетчика производиться не
                            будет.
                        li.
                            Формат переменной %:?<ИМЯ_ПЕРЕМЕННОЙ>:% используется для того, чтобы вычисление значения
                            счетчика не зависело от возможности вычисления переменной. Если значение переменной вычислено
                            не будет, в качестве ее значения будет использоваться undefined. Для проверки того,
                            удалось или нет вычислить значение переменной
                            необходимо использовать функцию isDefined(%:?<ИМЯ_ПЕРЕМЕННОЙ>:%)
                    p.
                        Переменные можно определить во вкладке VARIABLES. Кроме того, все переменные, которые были
                        определены в родительских счетчиках, будут доступны в текущем счетчике. Если переменную
                        не удалось вычислить и ее префиксом не является %:?, данные по счетчику собираться не будут.
                    blockquote.
                        При формировании имен переменных, желательно придердиваться правила: имя переменной должно
                         содержать информацию,
                        к какому счетчику относится переменная (если в этом есть смысл) и для чего она предназначена.
                        Например, %:FREE_MEMORY_LIMIT:% или %:FREE_MEMORY_NODATA:% или %:SNMP_PORT:%. Лучше не
                        давать название переменной %:DONT_USE_ALERT_FOR_THIS_PROCESS:%, потому что если вы
                        используете ее в свойстве объекта для переопределения переменной счетчика, становится непонятно,
                        к какому счетчику относится переменная. Лучше назвать переменную %:SKIP_PROCESS_RESTART_ALERT:%
                    p.
                        Обычно для имен переменных используется нотация SNAKE_CASE, но можно использовать любую другую удобную
                        нотацию, например camelCase
                    h5 Конверсии
                    p.
                        Для удобства записи числовых значений переменных можно использовать предопределенные конверсии.
                        Например, для указания минимального лимита памяти в 4Gb нет необходимости переводить это число
                        в байты (4294967296) для сравнения с получаемым значением из счетчика. Можно использовать любые
                        конверсии из таблицы ниже. Система автоматически осуществит перевод в случае с данными - в байты,
                        а в случае с временем - в миллисекунды. Будьте внимательны с работой с временем: некоторые сборщики
                        используют в качестве единицы времени не миллисекунды, а секунды. В этом случае необходимо делать
                        преобразование значения конверсии в счетчике за счет деления значения на 1000.
                    table
                        thead
                            tr
                                th Название
                                th Описание
                                th Множитель
                        tbody
                            tr
                                td Kb
                                td Килобайт
                                td 1 024
                            tr
                                td Mb
                                td Мегабайт
                                td 1 048 576
                            tr
                                td Gb
                                td Гигабайт
                                td 1 073 741 824
                            tr
                                td s
                                td Секунды
                                td 1 000
                            tr
                                td m
                                td Минуты
                                td 60 000
                            tr
                                td h
                                td Часы
                                td 3 600 000
                            tr
                                td d
                                td Дни
                                td 86 400 000
                            tr
                                td w
                                td Недели
                                td 604 800 000
                    p.
                         Вкладка VARIABLES позволяет определить переменные двух типов:
                    ol
                        li.
                            Переменные, значения которых вычисляется с использованием функций, работающих с историческими
                            данными

                        li.
                            Выражения, значения которых вычисляются используя арифметические и логические
                            операнды, а так же функции для обработки значений.

                    p.
                        Для создания переменных основанных на исторических значениях, необходимо нажать на кнопку
                        [#[img(src="./images/help.addHistoricalVariables.png")]]. Кнопка
                        [#[img(src="./images/help.addLogicalVariables.png")]] служит для создания вычисляемых переменных.
                        Для удаления переменной необходимо нажать на кнопку "x" в правом верхнем углу элемента с переменной.
                        Для получения справки по функциям и операндам необходимо нажать на кнопку "?" в правом верхнем
                        углу элемента с переменной.
                    p.
                        Некоторые переменные определены заранее:
                    ol
                        li OBJECT_NAME - Имя объекта для которого вычисляется значение счетчика
                        li COUNTER_NAME - Имя текущего счетчика
                        li.
                            PARENT_OBJECT_NAME - Имя родительского объекта от которого зависит вычисление текущего
                            счетчика, если установлена зависимость в Update events
                        li.
                            PARENT_COUNTER_NAME - Имя родительского счетчика от которого зависит вычисление текущего
                            счетчика, если установлена зависимость в Update events
                        li.
                            PARENT_VALUE - Значение, которое вернул родительский счетчик, от которого зависит вычисление
                            текущего счетчика, если установлена зависимость в Update events. Значение PARENT_VALUE может
                            отличаться от значения, полученного функциями, работающими с историческими значениями,
                            типа last(). Потому что исторические значения извлекаются из базы данных, а значение
                            PARENT_VALUE сервер возвращает сразу после получения данных от родительского счетчика и
                            базу оно могло еще не попасть.
                        li.
                            UPDATE_EVENT_STATE - Если у текущего счетчика есть родительский счетчик, который генерирует
                            событие для вычисление текущего счетчика, то эта переменная принимает значение логического
                            выражения из Update event: 0 или 1.
                        li.
                            UPDATE_EVENT_TIMESTAMP - Если у текущего счетчика есть родительский счетчик, который генерирует
                            событие для вычисления текущего счетчика, то значением этой переменной будет время генерации
                            такого события в миллисекундах с 01.01.1970
                        li.
                            PREV_ACTION_RESULT - Переменная используется только в задачах (Task maker), состоящих из
                            нескольких действий. В этом случае значением переменной становится результат, возвращаемый
                            предыдущим действием в задаче.

                    img(src="./images/help.variables.png" width="1024").materialboxed.card-panel.hoverable

                    h3 Создание переменных, вычисляемых на основе исторических значений.
                    p.
                        Переменные, вычисляемые на основе исторических значений, используют функции, которые получают
                        исторические данные из базы данных, обрабатывают их и возвращают значение.
                        Например, это может быть функция last(), возвращающая последнее записанное значение счетчика
                        в базу данных (если она вызывается без аргументов). Либо функция nodata(time), возвращающая
                        true, если данных не было определенный интервал времени. Помощь по функциям можно получить,
                        выбрав соответствующую функцию и нажав на значок "?" в правом верхнем углу формы ввода параметров
                        переменной.

                    img(src="./images/help.historicalVariable.png" width="1024").materialboxed.card-panel.hoverable

                    h5 Ниже приводится описание параметров переменных:

                    h4 Object
                    p.
                        Объект, у которого будут запрошены необходимые исторические данные. Кнопкой
                        [#[img(src="./images/help.changeHistoryVariavleObjectType.png")]] можно переключить тип объекта.
                        Объекты могут быть следующих типов:
                    ol
                        li.
                            THIS OBJECT - исторические данные будут получены со счетчика, привязанного к тому же объекту,
                            к которому привязан текущий счетчик.
                        li.
                            <Имя объекта> - Исторические данные будут получены со счетчика какого-то конкретного объекта.
                             Для того, чтобы выбрать объект, нужно в системном меню Objects выделить необходимый объект,
                            затем переключить тип объекта в поле Object на требуемый объект
                        li.
                            Variable name - Имя объекта может задаваться переменной. Для этого в системном меню Objects
                            необходимо выбрать один из объектов, к которому подключен требуемый счетчик.
                            Это позволит в дальнейшем выбрать необходимый счетчик. Далее необходимо
                            переключить тип объекта на Variable name. После этого в поле ввода необходимо указать
                            название переменной. Название переменной может быть с или без знаков %: и :%.

                    h4 Counter
                    p.
                        Необходимо выбрать счетчик. Требуемые исторические данные будут запрашиваться у пары
                        Объект-счетчик.
                    p.
                        Если в качестве типа объекта выбрано Variable name, для выбора
                        требуемого счетчика нужно в системном меню Objects выбрать объект, к которому подключен
                        требуемый счетчик. После этого переключателем типа объектов еще раз выбрать тип
                        объекта Variable name.
                    p.
                        Надпись [NOT SHARED] у имени счетчика означает,
                        что не все объекты, подключенные к текущему счетчику, так же имеют подключение к счетчику,
                        из исторических значений которого планируется вычислить переменную. В результате этого
                        переменная будет вычислена не для всех объектов, к которым подключен текущий счетчик.
                    h4 Variable name
                    p.
                        Имя новой переменной. Переменным желательно давать такие имена, чтобы по их названию можно было
                        понять к какому счетчику они относятся и для чего они предназначены. Имена переменных
                        чувствительны к регистру. Для имен переменных можно использовать любую удобную нотацию записи,
                        например SNAKE_CASE или camelCase. Имя переменной создается автоматически на основе названия
                        счетчика в SNAKE_CASE нотации. В дальнейшем имя переменной можно исправить. Любую переменную
                        можно переопределить с помощью свойства объекта. Для этого необходимо с помощью действия
                        Objects properties задать свойство объекту и дать ему имя переменной, которую необходимо
                        переопределить.

                    h4 Function
                    p.
                        Необходимо выбрать функцию, с помощью которой будут получены и обработаны исторические данные.
                        Для получения справки по функциям необходимо выбрать соответствующую функцию и нажать на
                        значок "?" в правом верхнем углу формы ввода параметров переменной.

                    h4 Function parameters
                    p.
                        Поле ввода параметров для функции. В качестве разделителя параметров используется запятая. В
                        качестве параметра так же можно указать переменную.

                    h5 Временные интервалы и количественные значения в параметрах функций.
                    p.
                        В качестве параметров исторических функций могут использоваться как временные интервалы, так и
                        количественные значения. Если требуется указать количество значений,
                        перед числом необходимо поставить знак '#'. Если число будет без знака '#', то оно будет
                        интерпретироваться как временной интервал. Например:
                    ol
                        li nodata(5m) - нет данных по счетчику за последние 5 минут
                        li avg(#5) - арифметическое среднее за 5 последних сохраненных значений
                        li min(180000) - минимальное значение, полученное за последние 3 минуты
                        li min(#180000) - минимальное значение, полученное за последние 180000 значений

                    h4 Примеры использования исторических функций:
                    table
                        thead
                            tr
                                th Переменная
                                th Выражение
                                th Описание
                        tbody
                            tr
                                td FREE_MEMORY_NODATA
                                td Free memory:nodata(5m)
                                td Возвратит true если по счетчику Free memory не было данных в течение 5 минут
                            tr
                                td SERVICE_START_TIME
                                td Service start time:lastRob(#%:NUMBER_OF_SAMPLE_VALUES:%, #0, 0)
                                td.
                                    Время старта сервиса за исключением статистических выбросов за последние
                                    %:NUMBER_OF_SAMPLE_VALUES:% стартов. В счетчик Service start time записывается
                                    время каждого старта. Эта переменная позволяет вычислить старты сервиса по
                                    расписанию и исключить старты сервисов вручную в нестандартное время. Служит
                                    для определения расписания старта сервиса.
                            tr
                                td LAST_SERVICE_STATES
                                td Service state:min(#4)
                                td.
                                    Минимальное значение счетчика Service state за последние 4 значения. Можно
                                    использовать для определения, был ли последнее время сервис запущен. Для
                                    запущенного сервиса это значение должно равняться 0
                            tr
                                td SERVICE_STARTS_COUNT_AT_CURRENT_WEEK_DAY
                                td Service start week day:count(#%:NUMBER_OF_SAMPLE_VALUES_FOR_WEEK_DAYS:%, , %:CURRENT_WEEK_DAY:%, 0)
                                td.
                                    Сколько раз в текущий день недели сервис запускался. Данные берутся за
                                    последние %:NUMBER_OF_SAMPLE_VALUES_FOR_WEEK_DAYS:% дней. Служит для определения,
                                    является ли текущий день недели рабочим для сервиса

                    h3 Создание переменных, вычисляемых на основе выражений.
                    p.
                        Переменные, вычисляемые на основе выражений служат для генерирования новых данных или
                        преобразования полученных данных.
                    img(src="./images/help.expressionVariable.png" width="1024").materialboxed.card-panel.hoverable

                    h5 Ниже приводится описание параметров переменных:
                    h4 Variable name
                    p.
                        Имя новой переменной. Переменным желательно давать такие имена, чтобы по их названию можно было
                        понять к какому счетчику они относятся и для чего они предназначены. Имена переменных
                        чувствительны к регистру. Для имен переменных можно использовать любую удобную нотацию записи,
                        например SNAKE_CASE или camelCase. Любую переменную
                        можно переопределить с помощью свойства объекта. Для этого необходимо с помощью действия
                        Objects properties задать свойство объекту и дать ему имя переменной.
                    h4 Expression
                    p.
                        Выражение для вычисления значения переменной. В выражении можно использовать другие переменные,
                        логические и арифметические операнды, а так же функции. Для получения справки по операндам
                        и функциям необходимо нажать на значок "?" в правом верхнем углу формы ввода параметров переменной.

                    h4 Примеры выражений
                    table
                        thead
                            tr
                                th Переменная
                                th Выражение
                                th Описание
                        tbody
                            tr
                                td IDLE_DISK_TIME_PERIOD
                                td 3m
                                td С помощью конверсии переменной IDLE_DISK_TIME_PERIOD присваивается значение 3 минуты (180000)
                            tr
                                td FULL_HOSTNAME
                                td getValueFromJSONStr(%:PARENT_VALUE:%, "hostname" )
                                td.
                                    Функцией getValueFromJSONStr() разбирается структура JSON, записанная как строка в
                                    значении, полученным от родительского счетчика и из этой структуры получаем значение
                                    ключа 'hostname'.
                            tr
                                td SHORT_HOSTNAME
                                td: pre.
                                        ifElse( %:FULL_HOSTNAME:%,
                                            ifElse( testRE(%:FULL_HOSTNAME:%, "^.+\..+?[^0-9]$"),
                                                toUpperCase( replaceRE(%:FULL_HOSTNAME:%, "^([^\.]+)\.?.+$", "$1") ),
                                                toUpperCase( %:FULL_HOSTNAME:%)
                                            ),
                                            %:IP_ADDRESS:% )
                                td.
                                    В результате этого выражения в зависимости от значения переменной %:FULL_HOSTNAME:%
                                    получаем либо короткое имя хоста без домена в верхнем регистре, либо, если переменная
                                    %:FULL_HOSTNAME:% пустая, IP адрес из переменной %:IP_ADDRESS:%
                            tr
                                td HUMAN_FREE_MEMORY и HUMAN_FREE_MEMORY_LIMIT
                                td: pre.
                                        toHuman(%:PARENT_VALUE:%, 'Bytes')
                                        и
                                        toHuman(%:FREE_MEMORY_LIMIT:%, 'Bytes')
                                td.
                                    Преобразуем полученное от родительского счетчика значение %:PARENT_VALUE:% и
                                    значение переменной %:FREE_MEMORY_LIMIT:% из байт в удобный человеку формат
                                    для последующего отображения в динамически сформированном описании события:
                                    "Free memory is %:HUMAN_FREE_MEMORY:%. Threshold %:HUMAN_FREE_MEMORY_LIMIT:%"




