//
    Copyright © 2020. Alexander Belov. Contacts: <asbel@alepiz.com>
    Created on 2020-5-17 16:07:42
doctype
html(lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml")
    head
        title Event generator: формирование событий и оповещений
        link(rel='stylesheet', href='/materialize-css/dist/css/materialize.css')
        link(rel='stylesheet', href='/material-design-icons/material-icons.css')
        meta(name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name="author" content="Alexander Belov <asbel@alepiz.com>")
        script(src='/materialize-css/dist/js/materialize.js')
        script(src='/javascripts/help.js')
    body
        header
            div.row
                div.col.s12.m10.offset-m1
                    h1 Event generator
                    h5.light.
                        Event generator служит для генерации событий
        main
            div.row
                div.col.s12.m10.offset-m1
                    h3 Описание Event generator
                    p.
                        Сборщик служит для генерации событий в зависимости от значений, полученных другими счетчиками.
                        Event generator записывает событие в базу данных, и, при необходимости, запускает задачу при
                        появлении условий для возникновении события и при их прекращении. В качестве условия для
                        возникновения события может быть, например, высокая загрузка процессора на сервере или
                        уменьшение объема доступного пространства на дисковой подсистеме до критического уровня. В
                        связанные с событием задачи, можно добавить, например, отправку сообщений по email, СМС или в мессенджер,
                        воспроизведение событий голосом и так далее. Так же можно выполнить какие-то действия,
                        которые автоматически устранят причину возникновения события или запустить систему для
                        снятия отладочной информации о событии в момент его возникновения.
                    p.
                        Для просмотра и управления событиями служит действие
                        #[a(href="/actions/dashboard/help/") Dashboard].
                    h3 Параметры
                    ul.browser-default
                        li.
                            Description of event will be show on dashboard - Описание события, будет отображено в
                            действии Dashboard. Как и все параметры сборщиков, параметр может содержать переменные,
                            которые будут преобразованы в значение. Благодаря
                            этому, в Dashboard можно выводить актуальную информацию о событии, например, объем
                            оставшейся оперативной памяти.
                        li.
                            Importance - Важность события. Чем меньше цифра, тем событие важнее. В ALEPIZ есть
                            функция calcImportant(), которая, в зависимости от переданного значения, может
                            автоматически устанавливать важность событию. Например, при уменьшении объема оперативной
                            памяти, важность события будет возрастать. В настройках действия Dashboard, для
                            различных значений важности события установлена подсветка фона события
                            соответствующим цветом.
                        li.
                            Event Duration - Длительность события в секундах. Если условие для прекращения события
                            не может быть выполнено, можно установить длительность события, после чего событие будет
                            автоматически помечено, как закончившееся.
                        li.
                            Task ID, which running when event occurred - Идентификатор задачи, которая будет
                            запущена при возникновении события. Идентификатор можно посмотреть в действии Task maker
                        li.
                            Task ID, which running when event solved - Идентификатор задачи, которая будет
                            запущена при прекращении события. Идентификатор можно посмотреть в действии Task maker
                        li.
                            Pronunciation of event - Фраза, которая будет произносится при возникновении
                            события в действии Dashboard. Требуется поддержка браузером и ОС данной возможности.
                    h3 Настройки
                    p.
                        Настройки сборщика хранятся в файле settings.json
                    ul.browser-default
                        li.
                            db - массив с настройками баз данных, куда будут сохранятся события. Можно указать
                            несколько баз данных для резервирования.
                        ul.browser-default
                            li path  - каталог в котором находится база данных с событиями
                            li file - название файла базы данных с событиями
                            li relative - (true|false) - является ли указанный путь относительным или абсолютным
                        li dbPath  - каталог в котором находится база данных с событиями, используется если не указан db
                        li dbFile - название файла базы данных с событиями, используется если не указан db
                        li.
                            saveRepeatEventsCacheInterval - (sec) как часто сохранять из кэша в базу данных информацию о
                            событии, для возникновения которого в прошлом уже наступило условие и
                            информация для события является уточняющей или повторной. Например, было событие и малом
                            количестве памяти на сервере, в настоящее время память не освободилось, и поступила
                            информация о том, что памяти стало еще меньше. По умолчанию 15 сек.
                        li.
                            runTaskOnProblem - (true|false) запускать или не запускать задачу, когда
                            наступило условие для возникновения события. Если установить false, то задача не будет
                            запущена даже если ее идентификатор указан в параметрах счетчика
                        li.
                            runTaskOnSolve - (true|false) запускать или не запускать задачу, когда
                            условия для возникновения события больше не существует. Если установить false, то задача не будет
                            запущена даже если ее идентификатор указан в параметрах счетчика
                        li.
                            maxEventProcessingTime - (sec) максимальное время обработки события или команды от dashboard,
                            после которого новые события или команды добавляться в очередь и
                            начинут обрабатываться не смотря на то, что предыдущая обработка события или команды не
                            была завершена. По умолчанию 30 сек.
                    h3 Возвращаемое значение
                    p.
                        Сборщик вернет 1, если наступило условие для возникновения события и 0, если условия для
                        возникновения события больше не существует.